<div class="row" id="{{ item.id }}">
    <div class="col-xs-18">
        <div class="checkbox">
            <input type="checkbox" id="check_{{ item.id }}">
            <label for="check_{{ item.id }}">
                <input type="text" value="{{ item.title }}" id="edit_{{ item.id }}"
                       class="form-control form-control-sm hidden" readonly/>
                <span class="checkbox-label" id="label_{{ item.id }}">{{ item.title }}</span>
            </label>
        </div>
    </div>
    <div class="col-xs-3 text-center">
    <span class="editor-control control-edit"
          data-id="{{ item.id }}">
        <i class="fa fa-lg fa-pencil text-yellow"></i>
    </span>
    </div>
    <div class="col-xs-3 text-center">
    <span class="editor-control control-delete"
          data-target="#confirm-dialog"
          data-toggle="modal"
          data-id="{{ item.id }}">
        <i class="fa fa-lg fa-trash-o text-yellow"></i>
    </span>
    </div>
</div>