<header class="form-title">Фильтр по расположению</header>
<div class="row v-center filter-by-location">
    <div class="col-xs-18">
        <fieldset class="row">
            <div class="col-xs-8">
                <select class="selectpicker" title="Выберите область" id="region" name="regions"
                        data-style="btn-primary form-select" data-live-search="true"
                        data-width="100%" data-size="10">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-xs-7">
                <select class="selectpicker" title="Выберите район" id="area" name="areas"
                        data-style="btn-primary form-select"
                        data-live-search="true"
                        data-width="100%" data-size="10" disabled>
                    <option value=""></option>
                </select>
            </div>
            <div class="col-xs-9">
                <select class="selectpicker" title="Выберите населенный пункт" id="city" name="cities"
                        data-style="btn-primary form-select"
                        data-live-search="true" data-width="100%" data-size="10" disabled>
                    <option value=""></option>
                </select>
            </div>
        </fieldset>
    </div>
    <div class="col-xs-6 text-right">
        <button class="btn btn-mid btn-info" id="reset_filter" type="reset">Сбросить все настройки</button>
    </div>
</div>