<header class="form-title">Фильтр по нуждам</header>
<fieldset class="row filter-by-needs">
    <div class="col-xs-3">
        <button class="btn btn-mid btn-default btn-block" type="button" id="toggle_all_needs" data-checked="false">Все
        </button>
        <button class="btn btn-mid btn-info btn-block" type="button" id="add_need"><i class="fa fa-lg fa-plus"></i>
        </button>
    </div>
    {% set groupLength = needs.length / 3 |round %}
    {% for group in needs|batch(groupLength) %}
        <div class="col-xs-7 {{ loop.first ? '' : 'v-divider'}} filter-by-needs__column">
            {% set groupIndex = loop.index %}
            {% for item in group %}
                {% include 'partials/filter/_by_needs_item.twig' %}
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>