<ul class="church-card__options">
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-user text-yellow"></i></span>
        <span class="col-xs-22">Приозерский Игнатий</span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-map-marker text-yellow"></i></span>
        <span class="col-xs-22">Москва, Предтеченский пер., д. 2</span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-mobile text-yellow"></i></span>
        <span class="col-xs-22"><a href="tel:+74992556572">+7 (499) 255-65-72</a></span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-envelope-o text-yellow"></i></span>
        <span class="col-xs-22"><a href="mailto:info@ioannp.ru">info@ioannp.ru</a></span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-desktop text-yellow"></i></span>
        <span class="col-xs-22"><a href="http://ioannp.ru" target="_blank">ioannp.ru</a></span>
    </li>
</ul>