<div class="donations">
    <table>
        <tr>
            <th>Необходимо:</th>
            <th>533 000 руб.</th>
        </tr>
        <tr>
            <td>Всего собрано:</td>
            <td>482 000 руб.</td>
        </tr>
        <tr>
            <td>Всего осталось:</td>
            <td>51 000 руб.</td>
        </tr>
    </table>

    {% include 'components/progress.twig' %}
</div>