<div class="highlighted-block church-card__needs full-width">
    <header class="church-card__needs-header">Нужды</header>
    <div class="divider full-width"></div>
    <ul class="church-card__needs-list">
        <li><a href="#">Реставрация</a> <span class="badge">2</span></li>
        <li><a href="#">Материалы</a> <span class="badge">2</span></li>
        <li><a href="#">Благоустройство</a> <span class="badge">1</span></li>
        <li><a href="#">Принадлежности</a> <span class="badge">1</span></li>
        <li><a href="#">Строительство</a> <span class="badge">3</span></li>
        <li><a href="#">Хозяйственные работы</a> <span class="badge">2</span></li>
    </ul>
</div>