<header class="text-muted">Реквизиты</header>
<ul class="church-card__options">
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-map-marker text-yellow"></i></span>
        <span class="col-xs-22">123242, г. Москва, Малый Предтеченский пер., д. 2</span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-mobile text-yellow"></i></span>
        <span class="col-xs-22"><a href="tel:+74992556572">8 (499) 255-65-72</a></span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-fax text-yellow"></i></span>
        <span class="col-xs-22"><a href="tel:+74992556572">8 (499) 255-65-72</a></span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow">Р/С</span></span>
        <span class="col-xs-22">40703810238170101429 в Московском банке Сбербанка России ОАО,Московская обл.г. Москва</span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow">К/С</span></span>
        <span class="col-xs-22">30101810400000000225</span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow">БИК</span></span>
        <span class="col-xs-22">044525225</span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow">ИНН</span></span>
        <span class="col-xs-22">7703022970</span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow">КПП</span></span>
        <span class="col-xs-22">1027700420604</span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow word-overflow">ОГРН</span></span>
        <span class="col-xs-22">91.31</span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow word-overflow">ОКВЭД</span></span>
        <span class="col-xs-22">40618201</span>
    </li>
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow word-overflow">ОКПО</span></span>
        <span class="col-xs-22">770301001</span>
    </li>
</ul>