<img src="images/church1.jpg" class="img-thumbnail" alt=""/>
<img src="images/church2.jpg" class="img-thumbnail" alt=""/>
<img src="images/church1.jpg" class="img-thumbnail" alt=""/>
<img src="images/church2.jpg" class="img-thumbnail" alt=""/>
<img src="images/church1.jpg" class="img-thumbnail" alt=""/>
<img src="images/church2.jpg" class="img-thumbnail" alt=""/>
