.edit-panel {
	float: right;
	margin-left: @padding-large-horizontal / 2;
	position: relative;
	z-index: 10;

	.edit-panel__btn {
		margin-left: @padding-large-horizontal;
		cursor: pointer;
	}
	.fa {
		text-shadow: 0 0 1px #ffffff;
	}
}