// Отбивка и бордюр для групп фильтра
.filter-form {
	.form-row {
		border-bottom: 1px solid @gray-light;
		padding-top: @navbar-padding-vertical;
		padding-bottom: @navbar-padding-vertical;
	}
}
// Стилизация jqueryUI-конпонента slider
@progressHeight: 4px;
@progressHandleSize: 20px;
.progress-filter {
	height: @progressHeight;
	overflow: visible;
	background-color: @light-blue-color;
	border-radius: @progressHeight/2;
	margin-top: @progressHandleSize;

	&,
	.ui-slider-range {
		position: relative;
		color: @text-color;
		.box-shadow(none);
		border-radius: @progressHeight/2;
	}

	.ui-slider-range {
		.bg-info;
		height: @progressHeight;
		overflow: hidden;

		&:before,
		&:after {
			content: '';
			position: absolute;
			height: @progressHeight;
			width: @progressHeight;
			top: 50%;
			margin-top: -@progressHeight/2;
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: cover;
		}

		&:before {
			right: 0;
			margin-right: @progressHandleSize / 2;
			background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%); /* FF3.6+ */
			background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%); /* Chrome10+,Safari5.1+ */
			background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%); /* Opera 11.10+ */
			background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%); /* IE10+ */
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%); /* W3C */
		}

		&:after {
			right: 0;
			margin-right: -(@progressHeight + @progressHandleSize / 2);
			background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6+ */
			background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
			background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); /* Opera 11.10+ */
			background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); /* IE10+ */
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); /* W3C */
		}
	}

	.ui-slider-handle {
		position: absolute;
		.bg-info;
		font-size: @fonts-size-middle;
		width: @progressHandleSize;
		height: 0;
		padding-top: @progressHandleSize;
		border-radius: 50%;
		top: 50%;
		left: 0;
		margin-top: -@progressHandleSize / 2;
		margin-left: -@progressHandleSize / 2;
		outline: 0;
		white-space: nowrap;

		&.ui-state-focus,
		&:focus {
			.tab-focus();
		}

		&:before,
		&:after {
			display: inline-block;
			padding-top: @progressHandleSize / 2 - @progressHeight;
			outline: 0;
		}
		&:before {
			content: attr(data-progress);
		}

		&:after {
			content: '\0025';
			vertical-align: super;
			font-size: 75%;
		}
	}
	.progress-filter__max {
		font-size: @fonts-size-middle;
		position: absolute;
		color: @gray-light;
		top: -(@progressHandleSize + 10);
		right: -@progressHandleSize / 2;
	}

}
// Стили специфичные только для фильтра по нуждам
.filter-by-needs {
	.checkbox {
		margin-left: @padding-base-horizontal / 2;

		label {
			width: 100%;
			height: 20px;
			line-height: 20px;
			.form-control {
				+ .checkbox-label {
					display: none;
					padding: 1px 3px;
					border: 1px solid transparent;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				&.hidden {
					+ .checkbox-label {
						display: inline-block;
					}
				}
			}

			> .checkbox-label,
			> .form-control-sm {
				margin: -2px 0 0 -4px;
				width: 100%;
			}
		}
	}
	.editor-control {
		cursor: pointer;
	}

	&__column {
		margin-top: -5px;

		.fa {
			margin-top: 7px;
			vertical-align: baseline;
		}
	}
}