.search-form {
	white-space: nowrap;

	.main-menu & {
		margin-top: (@navbar-height - @input-height-base);
	}

	.form-group{
		padding-right: 50px;
		position: relative;
	}
}
.search-form__submit{
	position: absolute;
	top: 0;
	right: 0;
	padding: @padding-base-vertical / 3 0;
	width: 45px;

	.fa{
		color: #ffffff;
	}
}
.search-form__input{
	background-color: #eeeeee;
}