.church-card__title {
	.indexed-title();

	+ .church-card__type {
		margin-top: -@padding-large-vertical * 2;
		margin-bottom: @padding-large-vertical;
	}
}

.church-card__type {
	margin-top: @padding-large-vertical;
	margin-bottom: @padding-large-vertical;
}

@contactIconSize: 35px;
.church-card__options {
	.reset-list-style;
	color: @btn-primary-color;
	margin: @padding-large-vertical * 2 0;

	> li {
		margin-top: @padding-large-vertical;
		margin-bottom: @padding-large-vertical;
	}
}

.church-card__needs {
	padding-top: @padding-large-vertical;
	padding-bottom: @padding-large-vertical;
}

.church-card__needs-header {
	text-transform: uppercase;
	color: @brand-primary;
}

.church-card__needs-list {
	.reset-list-style();
	.clearfix();

	> li {
		float: left;
		width: 50%;
		padding-right: @padding-large-vertical * 2;
		margin: @padding-large-vertical 0;
	}

	.badge {
		.reset-badge();
	}
}