.donations{
	margin-top: @padding-large-vertical * 2;
	width: 100%;

	table{
		margin-bottom: @padding-large-vertical * 2;
		font-size: @fonts-size-middle;
		line-height: 1;
		color: @gray-base;
		th,
		td{
			padding-bottom: @padding-large-vertical;
			padding-right: @padding-large-vertical * 2;
		}
		td{
			padding-top: @padding-large-vertical;
		}
	}
}