.main-menu{
	border-bottom:1px solid @gray-light;
	padding-top: @padding-large-vertical * 2;
	padding-bottom: @padding-large-vertical * 2;
}
.main-menu__links{
	.pull-left();
	.main-menu__button{
		margin-right: @navbar-padding-horizontal / 2;
		color: @light-blue-color;

		&.active,
		&:active{
			color: @brand-primary;
			background-color: @btn-primary-bg;
			border-color: @btn-primary-border;
		}
	}
}
.main-menu__buttons{
	.pull-right();
}