.map-canvas{
	width: 100%;
	height: 300px;
	margin: 10px 0;
}
// Стили контента внутри infoWindow
.map-popup{
	max-width: 400px;
	h1{
		.indexed-title();
		margin-bottom: 5px;
	}
}
// Контрол активирующий режим редактирования точки на карте
.map-control{
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(0,0,0,.3);
	cursor: pointer;
	margin-bottom: 22px;
	text-align: center;
	min-width: 180px;

	>div{
		color: @text-color;
		font-size: 14px;
		line-height: 38px;
		padding-left: 5px;
		padding-right: 5px;
		margin: 10px 0;
	}
	&.pressed{
		box-shadow: inset 0 2px 4px rgba(0,0,0,.3);
	}
}