.needs-card {
	.shadowed-block();
	color: @btn-primary-color;

	.btn {
		margin-right: @padding-base-horizontal / 2;
	}
	.btn-primary{
		color: @brand-primary;
	}
}

.needs-card__container {
	padding: @padding-large-vertical * 2 @padding-large-vertical * 3;
}

.needs-card__title {
	.indexed-title();
}