// Стили панели редактирования фотографии
.photo-editor{
	position: relative;
	display: inline-block;
	margin: @padding-large-vertical 0;

	.layout-sidebar &{
		display: block;
		width: 100%;
	}
}
.photo-editor__delete,
.photo-editor__edit{
	position: absolute;
	bottom: 25px;
}
.photo-editor__edit{
	right: 50%;
	margin-right: 5px;
}
.photo-editor__delete{
	left: 50%;
	margin-left: 5px;
}