<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Всем миром{% endblock %}</title>
    {% block stylesheets %}
        <link href="css/vsemmirom.css" type="text/css" rel="stylesheet" media="screen"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="img/favicon.ico"/>
</head>
<body lang="ru">

<div class="container page-container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="js/vsemmirom.min.js"></script>
    {# todo: Удалить. Нужен только для grunt watch. Перезагружает изменения в браузере  #}
    <script src="//localhost:35729/livereload.js"></script>
{% endblock %}
</body>
</html>
