{% block main %}
    <article class="row layout-main">
        <aside class="col-xs-9 layout-sidebar">
            <div class="layout-container">
                {% block sidebar %}{% endblock %}
            </div>
        </aside>
        <div class="col-xs-15 layout-content">
            <div class="layout-container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </article>
{% endblock %}