// Всяки разны переменные, не имеют отношения к bootstrap
@btn-border-width: 2px;
@fonts-size-middle: ceil((@font-size-base * 1.14)); //16px
@light-blue-color: #c4d3da;
@light-yellow-color: #fbd347;
@checkbox-bg: #fdfaf2;
@checkbox-shadow: inset 0 1px 0 rgba(0, 0, 0, .15);
@focus-shadow: 0 0 0 2px #47b4e6;

// Bootstrap settings
// Перекрыты переменные из vendor/bootstrap/less/variables.less
@icon-font-path: '/fonts/glyphicons/'; // Важно! Путь к файлам шрифта glyphicons. Относительно css-файла
@fa-font-path: '/fonts/font-awesome'; // Важно! Путь к файлам шрифта font-awesome. Относительно css-файла
@body-bg: #fafafa;
@text-color: #423e3f;

@gray-light: lighten(@gray-base, 76.5%); //c3c3c3
@gray-lighter: lighten(@gray-base, 90%); // #e6e6e6

@brand-primary: #627e8c;
@brand-info: #fac50f;

@grid-columns:24; // Важно! 24-хколоночная сетка
@grid-gutter-width: 10px; // Важно! разрывы между колонками 10px.

@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 4);
@input-height-large: (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 4);
@input-height-small: (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 4);

@padding-large-horizontal: 25px;
@font-size-large: ceil((@font-size-base * 1.57)); // 22px

@btn-font-weight: normal;

@btn-default-color: @brand-primary;
@btn-default-bg: #fafafa;
@btn-default-border: @light-blue-color;

@btn-primary-color: #808080;
@btn-primary-bg: @light-blue-color;
@btn-primary-border: @light-blue-color;

@btn-info-color: #665006;
@btn-info-bg: @brand-info;
@btn-info-border: @btn-info-bg;


@state-info-text:                #665006;
@state-info-bg:                  @brand-info;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

@input-bg:                       #f7f7f7;
//** `<input disabled>` background color
@input-bg-disabled:              #f7f7f7;

//** Text color for `<input>`s
@input-color:                    @btn-primary-color;
//** `<input>` border color
@input-border:                   @gray-lighter;


@page-header-border-color:    transparent;
@text-muted:                  @btn-primary-color;