.icon {
  display: inline-block;
  font-size: inherit;
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.icon-noicon {
  height: 30px;
  width: 0;
}
.icon-monastery,
.icon-church,
.icon-chapel {
  width: 30px;
  height: 30px;
  background-image: url(/images/icons/church_icons.png);
}
.icon-monastery {
  background-position: 0 0;
}
.icon-church {
  background-position: -30px 0;
}
.icon-chapel {
  background-position: -60px 0;
}
