{% include 'parts/header.twig' with {'id':church.id} %}
<article class="row layout-main">
    <aside class="col-xs-9 layout-sidebar">
        <div class="layout-container">
            {% include "viewer/sidebar.twig" with {'editable':editor} %}
        </div>
    </aside>
    <div class="col-xs-15 layout-content">
        <div class="layout-container">
            {% if editor is not empty %}
                {% include "editor/main.twig" %}
            {% else %}
                {% include "viewer/main.twig" %}
            {% endif %}
        </div>
    </div>
</article>