<div  {% if notAjax is not empty %}id="need_{{ item.id }}"{% endif %}>
    <div class="divider full-width"></div>

    <div class="edit-panel">
        <a href="javascript:editNeed({{ item.id }})" class="edit-panel__btn"><i class="fa fa-lg fa-pencil text-primary"></i></a>
        <a href="javascript:deleteNeed({{ item.id }})" class="edit-panel__btn"><i class="fa fa-lg fa-trash-o text-primary"></i></a>
    </div>

    <div id="need_block">
        <h2>{{ item.name }}</h2>

        <p>{{ item.description }}</p>

        {% if item.tags is not empty %}
            <div class="divider full-width"></div>
            {% include '@views/parts/tags.twig' with {'tags': item.tags,'hideHeader':true,'hideCount':true} %}
            <div class="divider full-width"></div>
        {% endif %}


        <div class="row v-top">
            <div class="col-xs-13">
                {% include '@views/parts/donations.twig' with {'required':item.required,'collected':item.collected} %}
            </div>


            <div class="col-xs-10 col-xs-offset-1">
                <div class="layout-container">
                    {% if item.photos is not empty %}
                        {% for photo in item.photos %}
                            <img src="/uploads/{{ photo.photo }}" class="img-thumbnail" alt=""/><br />
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>