<div{% if notAjax is not empty %} id="need_{{ item.id }}"{% endif %}>
    <div class="divider full-width"></div>

    {% set form = aForm.begin(
        {
        'id' : 'edit_form_'~item_id,
        'action' : '/need/edit/',
        }
    ) %}
    {% if item.id is not empty %}{{ html.hiddenInput('id',item.id) | raw }}{% endif %}
    {% if item.churchid is not empty %}{{ html.hiddenInput('churchid',item.churchid) | raw }}{% endif %}

    {{ html.hiddenInput('photoHash',photoHash) | raw }}


    <div class="row form-row">
        {{ form.field(item,'name',{'options':{'class':'col-xs-24'}})
            .textInput({'class':'form-control','placeholder':"Название нужды"})
            .label(false) | raw }}
    </div>

    <div class="row form-row">
        {{ form.field(item,'description',{'options':{'class':'col-xs-24'}})
            .textArea({'class':'form-control','rows':3,'placeholder':"Краткое описание"})
            .label(false) | raw }}
    </div>

    <div class="row form-row">
        {% include '@views/parts/tags.twig' with {'tags':tags,'editable':true,'name':'Need[tags]'} %}
    </div>
    <div class="row form-row">
        <div class="col-xs-8">
            <div class="checkbox">
                <input type="checkbox" name="Need[is_quick]" {% if item.is_quick is not empty %}checked="checked"{% endif %} />
                <label for="quickOnly">
                    <span class="checkbox-label" id="label_quick">Срочная помощь</span>
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-13">

            <div class="form-row">
                {{ form.field(item,'required',{'options':{'class':'form-unit','data-unit':'руб.'}})
                    .textInput({'class':'form-control','placeholder':"Необходимая сумма"})
                    .label(false)
                    .error(false) | raw }}
            </div>
            <div class="form-row">
                {{ form.field(item,'collected',{'options':{'class':'form-unit','data-unit':'руб.'}})
                    .textInput({'class':'form-control','placeholder':"Всего собрано"})
                    .label(false)
                    .error(false) | raw }}
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1">
            {% include '@views/parts/photo_input.twig' with {'id':'gallery-file', 'multiple':true} %}
            {% if item.photos is not empty %}
                {% for photo in item.photos %}
                    {% include "@views/parts/photo_editor.twig" with {'photo':photo} %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row form-row">
        <div class="col-xs-10 col-xs-offset-1 text-right">
            <button class="form-btn btn btn-mid btn-info text-uppercase">Сохранить</button>
            {#onclick="return saveNeed({{ item.id | round(0,'ceil') }},{{ item.churchid }})"#}
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <button class="form-btn btn btn-mid btn-info btn-light text-uppercase" onclick="location.href='/church/?id={{ item.churchid }}';">Отмена</button>
            {#getNeed({{ item.id | round(0,'ceil')}},{{ item.churchid }})#}
        </div>
    </div>

    {{ void(aForm.end()) }}
</div>