<div{% if notAjax is not empty %} id="need_0"{% endif %}>
    <div class="text-center add-need__button">
        <button class="btn btn-info text-uppercase"  id="show_need_add_form" onclick="javascript:newNeed({{ church.id }})">Добавить нужду</button>
    </div>
    <p>{{ app.request.get('churchid')  }}</p>
</div>