<div class="row layout-main">
    <div class="col-xs-9 layout-sidebar">
        <div class="layout-container">
            {% include 'partials/church_card/_sidebar.twig' %}
        </div>
    </div>
    <div class="col-xs-15 layout-content">
        <div class="layout-container">
            <h1 data-index="{{ index }}." class="church-card__title">
                <a href="church.html">Православный приход храма Рождества Иоанна Предтечи на Пресне</a>
            </h1>

            <p>Храм Рождества Иоанна Предтечи на Пресне некоторое время являлся церковно-административным центром
                грузинских приходов в России и, возможно, имел статус подворья Грузинской Православной Церкви в
                Москве.</p>

            <div class="divider full-width"></div>

            {% include 'partials/church_card/_contacts.twig' %}

            {% include 'partials/church_card/_needs.twig' %}

            {% include 'partials/church_card/_donations.twig' %}
        </div>
    </div>
</div>