<form role="form" class="add-need__form hidden" id="{{ id }}">
    <div class="row form-row">
        <div class="col-xs-24">
            <input class="form-control" type="text" placeholder="Название нужды"
                   value="{{ name|default('') }}"/>
        </div>
    </div>
    <div class="row form-row">
        <div class="col-xs-24">
            <textarea class="form-control" name="" id="" cols="30" rows="5"
                      placeholder="Краткое описание">{{ teaser|default('') }}</textarea>
        </div>
    </div>
    <div class="row form-row">
        {% set groupLength = checkboxes.length / 3 |round %}
        {% for group in checkboxes|batch(groupLength) %}
            <div class="col-xs-8">
                {% for checkbox in group %}
                    {% include 'components/checkbox.twig' with {'label':checkbox.title, 'id': checkbox.id, 'checked': checkbox.checked} %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-xs-13">
            <div class="form-row">
                <div class="form-unit" data-unit="руб.">
                    <input class="form-control" type="text" placeholder="Необходимая сумма"
                           value="{{ total|default('') }}"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-unit" data-unit="руб.">
                    <input class="form-control" type="text" placeholder="Всего собрано"
                           value="{{ donations|default('') }}"/>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            {% if image is defined and image %}
                {% include 'partials/photo_editor.twig' with {'preview': image} %}
            {% else %}
                <div class="form-row">
                    {% include 'components/file_input.twig' with {'id':'photo-file'} %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row form-row">
        <div class="col-xs-10 col-xs-offset-1 text-right">
            <button class="form-btn btn btn-mid btn-info text-uppercase" type="submit">Сохранить</button>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <button class="form-btn btn btn-mid btn-info btn-light text-uppercase" type="reset">Отмена</button>
        </div>
    </div>
</form>