<div class="edit-panel" id="{{ id|default('') }}">
    {% for button in buttons %}
        {% if button.url %}
            <a href="{{ button.url }}" id="{{ button.id|default('') }}" class="edit-panel__btn"><i class="fa fa-lg {{ button.icon }}"></i></a>
        {% else %}
            <i class="fa fa-lg {{ button.icon }} edit-panel__btn" id="{{ button.id|default('') }}"></i>
        {% endif %}
    {% endfor %}
</div>