<form action="" role="form" class="filter-form">
    <div class="form-row">
        <div class="row">
            <div class="col-xs-13">
                <header class="form-title">Фильтр по учреждениям</header>
                <fieldset class="filter-by-type">
                    {% include 'partials/type_switcher.twig' with {'name': 'filter_by_type'} %}
                </fieldset>
            </div>
            <div class="col-xs-11 ">
                <header class="form-title">Фильтр по прогрессу</header>
                <fieldset class="filter-by-progress">

                    <div class="progress-filter" data-progress="{{ progress }}">
                        <input type="hidden" id="progress" name="progress" value="{{ progress }}"/>
                        <span class="progress-filter__max">100<sup>%</sup></span>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="form-row">
        {% include 'partials/filter/_by_needs.twig' %}
    </div>
    <div class="form-row">
        {% include 'partials/filter/_by_location.twig' %}
    </div>
</form>
{% include 'components/confirm_dialog.twig' %}