<nav class="page-header" role="navigation">
    <div class="row">
        <div class="col-xs-18">
            <a href="index.html"><i class="fa fa-arrow-left text-yellow"></i> Назад</a>
        </div>
        <div class="col-xs-6">
            {% include 'partials/search_form.twig' %}
        </div>
    </div>
</nav>
