<nav class="main-menu" role="navigation">
    <div class="row">
        <div class="col-xs-18">
            <div class="main-menu__links">
                <a href="index.html" class="btn btn-default btn-lg navbar-btn main-menu__button active">Список
                    храмов</a>
                <a href="needs.html" class="btn btn-default btn-lg navbar-btn main-menu__button">Список нужд</a>
            </div>
            <div class="main-menu__buttons">
                <a href="church_add.html" class="btn btn-info btn-lg navbar-btn main-menu__button">Добавить храм</a>
            </div>
        </div>
        <div class="col-xs-6">
            {% include 'partials/search_form.twig' %}
        </div>
    </div>
</nav>
