<input type="hidden" id="map_input" value="{{ latlng|default('') }}"/>
<div id="map-canvas" class="map-canvas"
     data-title="{{ title|default('') }}"
     data-address="{{ address|default('') }}"
     data-lat="{{ lng|default('') }}"
     data-lng="{{ lng|default('') }}"
     data-editor="{{ editor|default(false) }}"></div>