<div class="needs-card">
    <div class="needs-card__content">
        <div class="needs-card__container">
            <h1 data-index="{{ index }}." class="needs-card__title">
                <a href="church.html">Православный приход храма Рождества Иоанна Предтечи на Пресне</a>
            </h1>

            <div class="divider full-width"></div>

            <h2>Нужды на строительство и ремонт</h2>

            <p>Просим помощи для ремонта и восстановления нашего храма. Сердечно благодарим всех, кто уже оказал посильную финансовую помощь для строительства котельной.</p>

            {% include 'partials/church_card/_labels.twig' %}

            <div class="divider full-width"></div>

            <div class="row v-center">
                <div class="col-xs-9">
                    {% include 'partials/church_card/_donations.twig' %}
                </div>
                <div class="col-xs-14 col-xs-offset-1">
                    <img src="images/church1.jpg" alt="" class="img-thumbnail"/>
                    {#<img src="images/church2.jpg" alt="" class="img-thumbnail"/>#}
                </div>
            </div>
        </div>
    </div>
</div>