<div class="photo-editor">
    {% include 'components/file_input.twig' with {'id':'photo_editor', 'preview': preview} %}
    <a href="#" class="btn btn-icon-round photo-editor__delete"><i class="fa fa-trash-o text-primary"></i></a>
</div>