<form class="search-form" role="search" action="">
    <fieldset class="form-group">
        <input type="search" class="form-control search-form__input" id="query" name="query" placeholder="поиск">
        <button type="submit" class="btn btn-info search-form__submit" id="search_button">
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </button>
    </fieldset>
</form>