{% set isRadio = name is defined and name %}
<div class="btn-group" data-toggle="buttons" role="group">
    {% for item in types %}
        {% set isActive = item.checked or loop.first or not isRadio %}
        <label class="btn btn-primary type-switcher__button {{ isActive? 'active': '' }}">
            {% if isRadio %}
                <input type="radio" name="{{ name }}" value="{{ item.type | default('all') }}"
                       autocomplete="off" {{ isActive? 'checked': '' }}>
            {% endif %}
            {% if item.type %}
                <i class="icon icon-{{ item.type }}"></i>
            {% endif %}
            {{ item.title }}
        </label>
    {% endfor %}
</div>