{{ this.beginPage() }}
{{ void( appAsset.register(this) ) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
    <head>
        <meta charset="{{ app.charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ html.csrfMetaTags() | raw }}
        <title>Всем миром</title>
        {{ this.head() | raw }}
    </head>

    <body>
    {% include "@views/layouts/parts/modal.twig" %}

    {% for type, flash in Yii.app.session.getAllFlashes() %}
        <div class="'alert alert-{{ type }}">flash</div>
    {% endfor %}

    {{  this.beginBody() }}

    <div class="container page-container">
        {{ content | raw }}
    </div>

    {% if this.params.hideFooter is not defined %}
    <footer class="footer">
        <div class="container">
            <p class="pull-left">&copy; itech-mobile.ru</p>

            <p class="pull-right">
                {% if app.user.identity is not empty %}
                <a href="/admin/site/logout" class="btn">Logout ({{ app.user.identity.username }})</a>
                {% else %}
                <a href="/admin/site/login" class="btn">Login</a>
                {% endif %}
            </p>
        </div>
    </footer>
    {% endif %}

    {{ this.endBody() }}
    </body>
</html>
{{ this.endPage() }}
