<div class="modal-info" role="dialog" id="confirm-dialog">

    {% set form = aForm.begin({'id':'login-form'}) %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Введите имя пользователя и пароль</h4>
            </div>
            <div class="modal-body">
                {{ form.field(model, 'username').label('Имя') | raw }}
                {{ form.field(model, 'password').passwordInput().label('Пароль') | raw }}
                {{ form.field(model, 'rememberMe').checkbox() | raw }}
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-save submit">ОК</button>
            </div>
        </div>
    </div>
    {{ void(aForm.end()) }}
</div>