
{{ void( modal.begin( {'id' : 'modal','header':'&nbsp;','options':{'class':'modal fade modal-info'}} ) ) }}
    <div class="modal-body" id="modalContent"></div>
{{ void( modal.end() ) }}

{#

<div class="modal fade modal-info" tabindex="-1" role="dialog" aria-hidden="true" id="modal" aria-labelledby="...">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h4 class="modal-title">{{ title|default('Подтвердите') }}</h4>
            </div>
            <div class="modal-body" id="modalContent">{{ content|default('') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">ОК</button>
                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
#}