//labels
.label {
	padding: @padding-base-vertical @padding-base-horizontal;
	margin: @padding-base-vertical @padding-base-horizontal / 2 @padding-base-vertical 0;
	display: inline-block;
	font-size: @font-size-base;
	line-height: @line-height-base;
	border-radius: @border-radius-base;
	font-weight: normal;
}

.label-default {
	background-color: @btn-default-bg;
	color: @btn-default-color;
}

.label-primary {
	background-color: @btn-primary-bg;
	color: #506773;
}

.label-info {
	background-color: @btn-info-bg;
	color: @btn-info-color;
}