//modal
// Цветовые схемы диалоговых окон
.modal-primary {
	.modal-header,
	.modal-title{
		background-color: @btn-primary-bg;
		color: @btn-primary-color;
	}
}

.modal-info {
	.modal-header,
	.modal-title {
		background-color: @btn-info-bg;
		color: @btn-info-color;
	}
}