.pagination{
	margin: 15px 0;
	>li{
		>a,
		>span{
			border: none;
			background: none;

			&:hover{
				color: @brand-primary;
			}

			&:focus,
			&.focus{
				z-index: 100;
			}
		}

		>span{
			&:hover{
				background: none;
			}
		}
	}
	>.active,
	>:active{
		>a,
		>span{
			position: static;
			&,
			&:hover{
				background-color: @brand-info;
				color: @btn-info-color;
			}
		}
	}
}
// Иконка направления сортировки
.caret{
	&.sort,
	.sort &{
		width: 20px;
		height: 20px;
		line-height: 20px;
		border-radius: 50%;
		border: 1px solid @brand-primary;
		text-align: center;

		&:before{
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			vertical-align: middle;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
		}

		&.desc{
			&:before{
				border-top: 5px dashed;
				margin-top: -3px;
			}
		}

		&.asc{
			&:before{
				border-bottom: 5px dashed;
				margin-top: -5px;
			}
		}
	}
}