{{ this.registerJsFile('@web/js/parts/photo.js',{'depends':['backend\\assets\\AppAsset']}) }}
<div class="edit-panel">
    <a href="/admin/church/edit?id={{ church.id }}" class="edit-panel__btn"><i class="fa fa-lg fa-pencil text-primary"></i></a>
    <a href="javascript:myPopup('/admin/church/remove?id={{ church.id }}')" class="edit-panel__btn"><i class="fa fa-lg fa-trash-o text-primary"></i></a>
</div>

<h1 class="church-card__title">
    {{ church.name }}
</h1>
<div class="church-card__type">
    {% include '@views/parts/type_switcher.twig' with {'readOnly': 1,'current':church.type} %}
</div>
<p>{{ church.description }}</p>
<div class="divider full-width"></div>

{% include '@views/parts/church/contacts.twig' with {'item':church}%}

<div class="highlighted-block full-width" id="needs">
    {% include 'viewer/parts/need_new_btn.twig' with {'notAjax':true, 'church':church} %}

    {% if church.needs is not empty %}
        {% for item in church.needs %}
            {% include "viewer/parts/need_viewer.twig" with {'notAjax':true, 'church':church}%}
        {% endfor %}
    {% endif %}

</div>

{% include '@views/parts/church/requisites.twig' with {'item':church} %}

<div class="divider full-width"></div>

    {% include '@views/parts/map.twig' with {'title': church.name, 'address': church.req_address, 'lat': church.gapi_lat, 'lng': church.gapi_lng} %}

{% if church.info_history is not empty %}
    <header class="block-header full-width">Историческая справка</header>
    <p>{{ church.info_history }}</p>
{% endif %}

{% if church.info_sacred is not empty %}
    <header class="block-header full-width">Святыни</header>
    <p>{{ church.info_sacred }}</p>
{% endif %}

{% if church.info_count is not empty %}
    <header class="block-header full-width">{{ church.info_count }}</header>
{% endif %}

{% if church.info_build is not empty %}
    <header class="block-header full-width">Информация по социальным постройкам</header>
    <p>{{ church.info_build }}</p>
{% endif %}