<div class="donations">
    <table>
        <tr>
            <th>Необходимо:</th>
            <th>{{ required | round(0,'ceil') }} руб.</th>
        </tr>
        <tr>
            <td>Всего собрано:</td>
            <td>{{ collected | round(0,'ceil') }} руб.</td>
        </tr>
        <tr>
            <td>Всего осталось:</td>
            <td>{{ required - collected | round(0,'ceil') }} руб.</td>
        </tr>
    </table>

    {% if required is not empty %}
        {% set progress = collected*100/required | round(0,'ceil') %}
    {% else %}
        {% set progress = 0 %}
    {% endif %}

    {% include '@views/parts/progress.twig' with {'progress':progress} %}
</div>