{{ this.registerJsFile('@web/js/parts/map.js',{'depends':['backend\\assets\\AppAsset']}) }}

<input type="hidden" id="map_input_lat" value="{{ lat|default('') }}" name="{{ lat_name }}"/>
<input type="hidden" id="map_input_lng" value="{{ lng|default('') }}" name="{{ lng_name }}"/>
<div id="map-canvas" class="map-canvas"
     data-title="{{ title|default('') }}"
     data-address="{{ address|default('') }}"
     data-lat="{{ lat|default('') }}"
     data-lng="{{ lng|default('') }}"
     data-editor="{{ editor|default(false) }}"></div>