<input type="file" class="{{ id }}" id="{{ id }}" {{ multiple? 'multiple': '' }} data-language="ru" data-preview="{{ preview|default('') }}" data-photo-hash="{{ photoHash }}"{% if photoId is not empty %} data-photo-id="{{ photoId }}"{% endif %} name="Photo[photo]"/>