<div class="progress" data-progress="{{ progress | round(0,'ceil') }}%">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ progress }}"
         aria-valuemin="0" aria-valuemax="100" style="width: {{ progress | round(0,'ceil')}}%;">
        <span class="sr-only">{{ progress | round(0,'ceil') }}% собрано</span>
    </div>
</div>