{% if tags is not empty %}

    {% if editable is not empty %}
        {% set groupLength = tags|length / 3 | round %}
        {% for group in tags|batch(groupLength) %}
            <div class="col-xs-8">
                {% for tag in group %}
                    <div class="checkbox">
                        <input type="checkbox" id="{{ tag.id }}" {{ tag.checked ? 'checked':'' }} name="{{ name }}[{{ tag.id }}]"/>
                        <label for="{{ tag.id }}">
                            <span class="checkbox-label" id="label_{{ tag.id }}">{{ tag.name }}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        {% if hideCount is not empty %}

            {% for tag in tags %}
                <span class="label label-primary">{{ tag.name }}</span>
            {% endfor %}

        {% else %} {# default #}
            <ul class="church-card__needs-list">

                {% for tag in tags %}
                    <li>{{ tag.name }} <span class="badge">{{ tag.needCount }}</span></li>
                {% endfor %}

            </ul>
        {% endif %}
    {% endif %}

{% endif %}