{# original code #}
{#
{% set isRadio = name is defined and name %}
<div class="btn-group" data-toggle="buttons" role="group">
    {% for item in types %}
        {% set isActive = item.checked or loop.first or not isRadio %}
        <label class="btn btn-primary type-switcher__button {{ isActive? 'active': '' }}">
            {% if isRadio %}
                <input type="radio" name="{{ name }}" value="{{ item.type | default('all') }}"
                       autocomplete="off" {{ isActive? 'checked': '' }}>
            {% endif %}
            {% if item.type %}
                <i class="icon icon-{{ item.type }}"></i>
            {% endif %}
            {{ item.title }}
        </label>
    {% endfor %}
</div>
#}
<div class="btn-group" data-toggle="buttons" role="group">

    {% macro type(title, value, type, currentValue, readOnly, inputName) %}
        {% set isActive = (currentValue == value) %}
        {% if readOnly != 1 or isActive == 1 %}
            <label class="btn btn-primary type-switcher__button {{ isActive? 'active': '' }}">

                {% if readOnly != 1 %}
                <input type="radio" name="{{ inputName }}" value="{{ value }}"
                       autocomplete="off" {{ isActive? 'checked': '' }}>
                {% endif %}
                    <i class="icon icon-{{ type }}"></i>
                {{ title }}
            </label>

        {% endif %}
    {% endmacro %}

    {% if withoutAll is empty %}
    {{ _self.type("Все",      constant('common\\models\\Church::CT_NULL'),'',             current,readOnly,inputName) }}
    {% endif %}
    {{ _self.type("Монастырь",constant('common\\models\\Church::CT_MONASTERY'),  'monastery',current,readOnly,inputName) }}
    {{ _self.type("Церковь",  constant('common\\models\\Church::CT_CHURCH'),  'church',   current,readOnly,inputName) }}
    {{ _self.type("Часовня",  constant('common\\models\\Church::CT_CHAPEL'),  'chapel',   current,readOnly,inputName) }}
</div>