// Сбрасывает стили списков ul, ol
.reset-list-style() {
	list-style: none;
	margin: 0;
	padding: 0;
}
// Сбрасывает стили компонента .badge
.reset-badge() {
	font-weight: normal;
	background: none;
	border-radius: 0;
	color: @gray-base;
	padding: 0;

	&:before {
		content: '\0028';
	}
	&:after {
		content: '\0029';
	}
}
// Перекрывает одноименный миксин bootstrap
.tab-focus() {
	outline: none;
	outline-offset: 0;
	box-shadow: @focus-shadow;
	transition: box-shadow ease-in-out .1s;
}
// Перекрывает одноименный миксин bootstrap
.form-control-focus() {
	&:focus {
		.box-shadow(~'@{checkbox-shadow}, @{focus-shadow}');
	}
}
// Серый блок с фоновым градиентом
.highlighted-block {
	padding-top: @padding-large-vertical * 2;
	padding-bottom: @padding-large-vertical * 2;
	margin-top: @padding-large-vertical * 2;
	margin-bottom: @padding-large-vertical * 2;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%) 50% 50% no-repeat, url(../images/noise.png) 50% 50% repeat, #edf2f4; /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%) 50% 50% no-repeat, url(../images/noise.png) 50% 50% repeat, #edf2f4; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%) 50% 50% no-repeat, url(../images/noise.png) 50% 50% repeat, #edf2f4; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%) 50% 50% no-repeat, url(../images/noise.png) 50% 50% repeat, #edf2f4; /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%) 50% 50% no-repeat, url(../images/noise.png) 50% 50% repeat, #edf2f4; /* W3C */
	background-color: #edf2f4;
	border-top: 1px solid @gray-lighter;
	border-bottom: 1px solid @gray-lighter;
}
// Миксин для белых блоков с тенью
.shadowed-block() {
	.box-shadow(0 2px 5px #ccc);
	background-color: #fff;
	margin-bottom: @padding-large-vertical * 2;
}
// Миксин для заголовков карточек.
// При наличии у заголовка заполненного атрибута data-index, слева от заголовка выводится его содержимое - номер или айди блока
.indexed-title() {
	position: relative;
	font-size: 16px;
	line-height: 1.5;
	color: @gray-base;
	font-weight: 500;
	&:before {
		content: attr(data-index);
		position: absolute;
		font-size: 12px;
		color: #666;
		right: 100%;
		margin-right: 5px;
		top: auto;
		line-height: 2em;
	}
}
// Задает цвет текста плейсхолдеров
.placeholder-color (@value: darkgray) {
	&::-webkit-input-placeholder {
		color: @value;
	}
	&:-moz-placeholder {
		color: @value;
	}
	&::-moz-placeholder {
		color: @value;
	}
	&:-ms-input-placeholder {
		color: @value;
	}
}