
<div class="row" id="{{ item.id }}">
    <div class="col-xs-18">
        <div class="checkbox">
            <input type="checkbox" id="tag_{{ item.id }}" class="tag_check"
                   name="tagsChecked[{{ item.id }}]"
                   {% if filter.tagsChecked[item.id] is not empty %}checked="checked"{% endif %}>
            <label for="check_{{ item.id }}">
                <span class="checkbox-label" id="label_{{ item.id }}">{{ item.name }}</span>
            </label>
        </div>
    </div>
    <div class="col-xs-3 text-center">
    <span class="editor-control control-edit"
          data-id="{{ item.id }}" onclick="javascript:myPopup('/tag/edit?id={{ item.id }}');">
        <i class="fa fa-lg fa-pencil text-yellow"></i>
    </span>
    </div>
    <div class="col-xs-3 text-center">
    <span class="editor-control control-delete"
          data-target="#confirm-dialog"
          data-toggle="modal"
          data-id="{{ item.id }}" onclick="javascript:myPopup('/tag/remove?id={{ item.id }}');">
        <i class="fa fa-lg fa-trash-o text-yellow"></i>
    </span>
    </div>
</div>