<div{% if notAjax is not empty %} id="tags_list"{% endif %}>
    {% if tags is not empty %}
        {% set groupLength = (tags|length / 3) | round(0,'ceil') %}
        {% for group in tags|batch(groupLength) %}
            <div class="col-xs-7 {{ loop.first ? '' : 'v-divider'}} filter-by-needs__column">
                {% set groupIndex = loop.index %}
                {% set i = 0 %}
                {% for item in group %}
                    {% include '@views/search/parts/filter/parts/tag.twig'%}
                    {% set i = i+1 %}
                {% endfor %}

                {# adding extra space #}
                {% if i<groupLength %}
                    {% for adds in i..groupLength %}
                        <div class="row">&nbsp;</div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>