{# todo: make glyphicons for invalid fields #}
{# todo: it's a good idea to validate church type too #}

{{ this.registerJsFile('@web/js/parts/photo.js',{'depends':['backend\\assets\\AppAsset']}) }}
{{ this.registerJsFile('@web/js/parts/location.js',{'depends':['backend\\assets\\AppAsset']}) }}

{{ this.registerJsFile('@web/js/bootstrap-switch.min.js',{'depends':['backend\\assets\\AppAsset']}) }}



{% set form = aForm.begin(
    {
        'id' : 'filter_form',
        'action' : '/church/edit/'
    }
) %}
{% if church.id is not empty %}{{ html.hiddenInput("id",church.id) | raw }}{% endif %}
{{ html.hiddenInput('photoHash',photoHash) | raw }}
{#Kadr#}
<div class="btn-group" role="group" aria-label="...">

    {{ form.field(church,'active').checkbox({id:'active', label: false, 'data-on-text': 'Активная', 'data-off-text': 'Неактивная'}).label(false) | raw }}

</div>
{{ this.registerJs('$("#active").bootstrapSwitch();') }}

{#---#}
<fieldset>



    <div class="row form-row">
        {{ form.field(church,'name',{'options':{'class':'col-xs-24'}})
                .textInput({'class':'form-control','placeholder':"Название"})
                .label(false) | raw }}
    </div>
    <div class="row form-row">
        <div class="col-xs-24">
            {% include '@views/parts/type_switcher.twig' with {'withoutAll':true,'inputName':'Church[type]','current':church.type} %}
        </div>
    </div>
    <div class="row form-row">
        {{ form.field(church,'description',{'options':{'class':'col-xs-24'}})
            .textArea({'class':'form-control','rows':3,'placeholder':"Краткое описание"})
            .label(false) | raw }}
    </div>
</fieldset>

<div class="divider full-width"></div>

<fieldset>
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"><i class="fa fa-fw fa-user text-yellow"></i></div>
        {{ form.field(church,'owner',{'options':{'class':'col-xs-14'}}).textInput({'class':'form-control','placeholder':'Настоятель'}).label(false).error(false) | raw }}
    </div>
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"><i class="fa fa-fw fa-map-marker text-yellow"></i></div>
        <div class="col-xs-14">
            <select class="selectpicker" title="Выберите область" id="region" name="Church[regionid]"
                    data-style="btn-default form-select" data-live-search="true"
                    data-width="100%" data-size="10">
                {% for id,region in regions %}
                    <option value="{{ id }}"{{ church.regionid == id ? ' selected' : '' }}>{{ region }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row form-row">
        <div class="col-xs-14 col-xs-offset-2">
            <select class="selectpicker" title="Выберите район" id="subregion" name="Church[subregionid]"
                    data-style="btn-default form-select"
                    data-live-search="true"
                    data-width="100%" data-size="10"{{ church.subregionid is empty ? ' disabled' : '' }}>
                {% for id,subregion in subregions %}
                    <option value="{{ id }}"{{ church.subregionid == id ? ' selected' : '' }}>{{ subregion }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row form-row">
        <div class="col-xs-14 col-xs-offset-2">
            <select class="selectpicker" title="Выберите населенный пункт" id="city" name="Church[cityid]"
                    data-style="btn-default form-select"
                    data-live-search="true" data-width="100%" data-size="10"{{ church.cityid is empty ? ' disabled' : '' }}>
                {% for id,city in cities %}
                    <option value="{{ id }}"{{ church.cityid == id ? ' selected' : '' }}>{{ city }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"><i class="fa fa-fw fa-mobile text-yellow"></i></div>
        {{ form.field(church,'phone',{'options':{'class':'col-xs-14'}})
            .widget(maskedInput.className(),{'mask':'(999)-999-99-99'})
            .label(false).error(false) | raw }}
    </div>
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"><i class="fa fa-fw fa-envelope-o text-yellow"></i></div>
        {{ form.field(church,'email',{'options':{'class':'col-xs-14'}}).textInput({'class':'form-control','placeholder':'E-mail'}).label(false).error(false) | raw }}
    </div>
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"><i class="fa fa-fw fa-desktop text-yellow"></i></div>
        {{ form.field(church,'url',{'options':{'class':'col-xs-14'}}).textInput({'class':'form-control','placeholder':'Сайт', id: 'church'}).label(false).error(false) | raw }}
    </div>
{#kadr#}
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"></div>
        {{ form.field(church,'need_help', {options: {class: 'input-group'}}).checkbox({label: 'Требуется срочная помощь', labelOptions: {style: 'font-weight: normal'}}).label(false).error(false) | raw }}
    </div>
{#----#}
</fieldset>

<div class="divider full-width"></div>

<fieldset>
    <div class="row form-row">
        <div class="col-xs-24">
            <header class="text-muted">Реквизиты</header>
        </div>
    </div>
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"><i class="fa fa-fw fa-map-marker text-yellow"></i></div>
        {{ form.field(church,'req_address',{'options':{'class':'col-xs-22'}}).textInput({'class':'form-control','placeholder':'Адрес, индекс'}).label(false).error(false) | raw }}
    </div>
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"><i class="fa fa-fw fa-mobile text-yellow"></i></div>
        {{ form.field(church,'req_phone',{'options':{'class':'col-xs-22'}})
            .widget(maskedInput.className(),{'mask':'(999)-999-99-99'})
            .label(false).error(false) | raw }}
    </div>
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"><i class="fa fa-fw fa-fax text-yellow"></i></div>
        {{ form.field(church,'req_fax',{'options':{'class':'col-xs-22'}})
            .widget(maskedInput.className(),{'mask':'(999)-999-99-99'})
            .label(false).error(false) | raw }}
    </div>
    <div class="row form-row">
        <div class="col-xs-2 text-right"><span class="text-yellow">Р/С</span></div>
        {{ form.field(church,'req_rs',{'options':{'class':'col-xs-22'}})
            .textArea({'class':'form-control','rows':3,'placeholder':"Расчетный счет"})
            .label(false)
            .error(false) | raw }}
    </div>
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"><span class="text-yellow">К/С</span></div>
        {{ form.field(church,'req_ks',{'options':{'class':'col-xs-22'}}).textInput({'class':'form-control','placeholder':'КС'}).label(false).error(false) | raw }}
    </div>
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"><span class="text-yellow">БИК</span></div>
        {{ form.field(church,'req_bik',{'options':{'class':'col-xs-22'}}).textInput({'class':'form-control','placeholder':'БИК'}).label(false).error(false) | raw }}
    </div>
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"><span class="text-yellow">ИНН</span></div>
        {{ form.field(church,'req_inn',{'options':{'class':'col-xs-10'}}).textInput({'class':'form-control','placeholder':'ИНН'}).label(false).error(false) | raw }}
        <div class="col-xs-2 text-right"><span class="text-yellow">КПП</span></div>
        {{ form.field(church,'req_kpp',{'options':{'class':'col-xs-10'}}).textInput({'class':'form-control','placeholder':'КПП'}).label(false).error(false) | raw }}
    </div>
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"><span class="text-yellow word-overflow">ОГРН</span></div>
        {{ form.field(church,'req_ogrn',{'options':{'class':'col-xs-22'}}).textInput({'class':'form-control','placeholder':'ОГРН'}).label(false).error(false) | raw }}
    </div>
    <div class="row form-row v-center">
        <div class="col-xs-2 text-right"><span class="text-yellow word-overflow">ОКВЭД</span></div>
        {{ form.field(church,'req_okved',{'options':{'class':'col-xs-10'}}).textInput({'class':'form-control','placeholder':'ОКВЭД'}).label(false).error(false) | raw }}
        <div class="col-xs-2 text-center"><span class="text-yellow word-overflow">ОКПО</span></div>
        {{ form.field(church,'req_okpo',{'options':{'class':'col-xs-10'}}).textInput({'class':'form-control','placeholder':'ОКПО'}).label(false).error(false) | raw }}
    </div>
</fieldset>

<div class="divider full-width"></div>

<fieldset>
    {% include '@views/parts/map.twig' with {'editor':true,'lat':church.gapi_lat,'lng':church.gapi_lng,'lat_name':'Church[gapi_lat]','lng_name':'Church[gapi_lng]'} %}
    <div class="row form-row">
        {{ form.field(church,'info_history',{'options':{'class':'col-xs-24'}})
            .textArea({'class':'form-control','rows':3,'placeholder':"Историческая справка"})
            .label(false)
            .error(false) | raw }}
    </div>
    <div class="row form-row">
        {{ form.field(church,'info_sacred',{'options':{'class':'col-xs-24'}})
            .textArea({'class':'form-control','rows':3,'placeholder':"Святыни"})
            .label(false)
            .error(false) | raw }}
    </div>
    <div class="row form-row">
        {{ form.field(church,'info_count',{'options':{'class':'col-xs-24'}})
            .textArea({'class':'form-control','rows':3,'placeholder':"Количество прихожан"})
            .label(false)
            .error(false) | raw }}
    </div>
    <div class="row form-row">
        {{ form.field(church,'info_build',{'options':{'class':'col-xs-24'}})
            .textArea({'class':'form-control','rows':3,'placeholder':"Информация по социальным постройкам"})
            .label(false)
            .error(false) | raw }}
    </div>
</fieldset>

<div class="row form-row">
    <div class="col-xs-24">
        <button class="form-btn btn btn-mid btn-info text-uppercase" type="submit">
            {% if church.id is not empty %}
                Сохранить
            {% else %}
                Добавить храм
            {% endif %}
        </button>
    </div>
</div>

{{ void(aForm.end()) }}