@page-width: 1000px;
body {
	min-width: @page-width;
}

a {
	&,
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-size: 16px;
	line-height: 1.5;
	color: @brand-primary;
	font-weight: normal;

	a {
		&,
		&:hover,
		&:active,
		&:focus {
			text-decoration: underline;
			color: inherit;
		}
	}
}

h1 {
	font-size: 24px;
	line-height: 1.5;
	margin: 0 0 @padding-large-vertical * 3;
}

h2, h3 {
	font-weight: 500;
	margin: 0 0 @padding-large-vertical * 2;
}

h2 {
	font-size: 18px;
}

textarea {
	resize: none;
}
//Основной контейнер страницы
.page-container {
	padding-bottom: 50px;
}

.page-header {
	font-size: 24px;
}
// Отключен responsive-дизайн
.container {
	width: @page-width !important;
	max-width: none !important;
}
// Дополнительные классы для гридов. Применяются к .row
// Дают вертикальное выравнивание содержимому колонок. Flex grid
// Если контент внутри колонки поедет - нужно обернуть контент div'ом c заданной шириной в 100%
.v-align(@direciton:center) {
	display: flex;
	flex-direction: row;
	> [class^="col-"],
	> [class*=" col-"] {
		display: flex;
		align-items: @direciton;

		&.text-right {
			justify-content: flex-end;
		}
		&.text-center {
			justify-content: center;
		}
	}
}

.v-center {
	.v-align(center);
}

.v-bottom {
	.v-align(flex-end);
}
// Фикс для сеток с вертикальным выравниванием
.row {
	min-width: 100%;
}
// Горизонтальный разделитель. Полоска в 1px
.divider {
	.clearfix;
	height: 0;
	margin-top: @padding-large-vertical * 2;
	margin-bottom: @padding-large-vertical * 2;
	border-bottom: 1px solid @gray-lighter;

	.highlighted-block & {
		border-color: @light-blue-color;
	}

	.church-card__needs & {
		margin-top: @padding-large-vertical;
		margin-bottom: @padding-large-vertical;
	}
}
// Добавляет вертикальный разделить блоку. Важно, чтобы after-элемент блока не был занят
.v-divider {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -50px;
		height: 100px;
		width: 0;
		border-left: 1px solid @gray-lighter;
	}
}
// Растягивает блок на всю ширину родительского контейнера
.full-width {
	margin-left: -@grid-gutter-width;
	margin-right: -@grid-gutter-width;
	padding-left: @grid-gutter-width;
	padding-right: @grid-gutter-width;

	.layout-container &,
	.needs-card__container & {
		margin-left: -@padding-large-vertical * 3;
		margin-right: -@padding-large-vertical * 3;
		padding-left: @padding-large-vertical * 3;
		padding-right: @padding-large-vertical * 3;
	}
}
// Состояние фокусировки для всех элементов, которым задат атрибут tabindex
[tabindex]:focus {
	.tab-focus();
}
// Отключает фокусировку на тех элементах, чей tabindex=-1
[tabindex="-1"]:focus {
	box-shadow: none;
	transition: none;
}
// Желтый текст. В дополнение к цветовым схемам bootstrap
.text-yellow {
	.text-emphasis-variant(@light-yellow-color);
}
// Дополнительные стили для иконок font-awesome
.fa {
	transition: color 0.1s ease-in-out;

	&.disabled,
	&[disabled]
	.disabled &,
	[disabled] & {
		color: @gray-light;
	}
}
.fa-lg{
	font-size: 1.5em;
}
.fa-fw {
	&.fa-mobile {
		&:before {
			position: relative;
			top: -2px;
			font-size: 1.5em;
		}
	}
	&.fa-map-marker {
		&:before {
			font-size: 1.3em;
		}
	}
	&.fa-envelope-o {
		&:before {
			font-size: .9em;
		}
	}
	&.fa-desktop {
		&:before {
			font-size: .8em;
		}
	}
}
// Выравнивает длинное слово в узкой ячейке. Только 1 слово, не текст. Используется в реквизиатах
.word-overflow {
	.text-left > & {
	}
	.text-right > & {
		margin-left: -100%;
	}
	.text-center > & {
		position: relative;
		left: 50%;
		margin-left: -100%;
	}
}
// Заголовок с серым фоном
.block-header {
	padding-top: @padding-large-vertical * 2;
	padding-bottom: @padding-large-vertical * 2;
	margin-top: @padding-large-vertical * 2;
	margin-bottom: @padding-large-vertical * 2;
	background-color: #e5eaeb;
}