
// Оновной контейнер лайаута. Белый с тенью
.layout-main {
	.shadowed-block();
	.v-align(stretch);
	min-height: 450px;
	margin-left: 0;
	margin-right: 0;
}
// Контейнер сайдбара
.layout-sidebar {
	position: relative;
}
// Контейнер контентной части
.layout-content {
	.box-shadow(0 0 10px rgba(204, 204, 204, .6));
}
// Отбивка внутри контейнеров
.layout-container {
	width: 100%;
	padding: @padding-large-vertical * 2 (@padding-large-vertical * 3 - @grid-gutter-width / 2);

	// Внутри сайдбара блок занимает площадь 100%. При переполнении контентом появляется скролл
	.layout-sidebar > & {
		text-align: center;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		overflow: auto;
	}
}