// buttons
.btn {
	border-width: @btn-border-width;

	&.active,
	&:active {
		.box-shadow(none);
	}

	.fa {
		vertical-align: middle;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		opacity: .5;
	}
}

.btn-default {
	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		background-color: @btn-default-bg;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			background-color: @btn-default-bg;
		}
	}
}

.btn-mid {
	min-width: 100px;
	padding: @padding-large-vertical @padding-large-horizontal;
}

.btn-block + .btn-block {
	margin-top: 15px;
}

.btn-full {
	width: 100%;
}
// Кпопка с прозрачным фоном
.btn-light {
	background-color: transparent;

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		background-color: transparent;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			background-color: transparent;
		}
	}
}
// Маленькая белая круглая кнопка
.btn-icon-round {
	padding: 0;
	width: 28px;
	height: 28px;
	font-size: 18px;
	line-height: 24px;
	border-radius: 50%;
	background-color: #fff;
	border: 2px solid #FFFFFF;
	margin: 0 3px;
	box-shadow: 0 0 1px @gray-light;
}

.btn-group.open .dropdown-toggle {
	.box-shadow(none);
}