// checkboxes & radio
.checkbox,
.radio {
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	label {
		&:before {
			background-color: @checkbox-bg;
			.box-shadow(@checkbox-shadow)
		}

		&:after {
			color: @brand-primary;
		}
	}
	input[type=checkbox] {
		&:focus,
		&.focus {
			+ label:before {
				.box-shadow(~'@{checkbox-shadow}, @{focus-shadow}');
			}
		}
	}
}

.checkbox {
	label {
		&:after {
			padding-top: 2px;
			line-height: 16px;
		}
	}
}

.radio {
	label {
		&:after {
			background-color: @brand-primary;
		}
	}
}