// Отбивка строк форм
.form-row {
	padding-top: @padding-large-vertical;
	padding-bottom: @padding-large-vertical;
	label& {
		font-weight: normal;
	}
}
// Заголовки групп фильтра
.form-title {
	font-size: @fonts-size-middle;
	margin-bottom: @navbar-padding-vertical;
}
// Добаляет мин. ширину сабмит-кнопкам
.form-btn {
	min-width: 200px;
}
// Добвляет над инпутом единицу измерения указанную в атрибуте data-unit
.form-unit{
	position: relative;

	&:after{
		content: attr(data-unit);
		position: absolute;
		width: 50px;
		right: 0;
		top: 0;
		text-align: center;
		height: @input-height-base;
		line-height: @line-height-base;
		padding: @padding-base-vertical @padding-base-horizontal;
		color: @gray-light;
	}

	>input.form-control{
		padding-right: 50px;
	}
}