// Иконки учреждений
@church-icon-size: 30px;
.icon {
	display: inline-block;
	font-size: inherit;
	background-position: 0 0;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.icon-noicon {
	height: @church-icon-size;
	width: 0;
}

.icon-monastery, .icon-church, .icon-chapel {
	width: @church-icon-size;
	height: @church-icon-size;
	background-image: url(/images/icons/church_icons.png);
}

.icon-monastery {
	background-position: 0 0;
}

.icon-church {
	background-position: -@church-icon-size 0;
}

.icon-chapel {
	background-position: -@church-icon-size * 2 0;
}