//inputs
@input-shadow: inset 0 2px 2px rgba(0, 0, 0, .15);
.form-control {
	.box-shadow(@input-shadow);
	.placeholder-color(@btn-primary-color);
	border-width: 0;

	&:focus
	&.focus {
		.box-shadow(~'@{input-shadow}, @{focus-shadow}');
	}

	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		opacity: .5;
	}
}
// Инпуты для редактирования нужд в фильтре
.form-control-sm {
	.box-shadow(@checkbox-shadow);
	.placeholder-color(@text-color);
	padding: 1px 3px;
	border: 1px solid @input-border;
	background-color: @checkbox-bg;
	height: auto;
	border-radius: 3px;
	color: @text-color;

	&:focus,
	&.focus {
		.box-shadow(~'@{checkbox-shadow}, @{focus-shadow}');
	}
}

//.has-error .form-control {
//  border-color: red;
//  border-width: 1px;
//}