//select
@select-caret-size: 20px;
@select-caret-arrow: 5px;
.bootstrap-select {
	.dropdown-menu {
		> .active {
			> a {
				&,
				&:hover,
				&.focus,
				&:focus {
					background-color: @gray-lighter;
					color: @text-color;
				}
			}
		}
	}
	&.btn-group {
		.dropdown-toggle {
			&:focus,
			&.focus {
				.tab-focus();
				outline: 0 !important;
			}
		}
		.form-select {
			padding-right: 35px;
			&.btn-default {
				&,
				.open > .dropdown-toggle & {
					background-color: #ffffff;
					border-color: @gray-light;
					color: @btn-primary-color;
					border-width: 1px;
				}
			}

			&.btn-primary {
				&,
				.open > .dropdown-toggle & {
					background-color: @input-bg;
					border-color: @brand-primary;
					color: @brand-primary;
				}
			}

			&.btn-info {
				&,
				.open > .dropdown-toggle & {
					background-color: @input-bg;
					border-color: @brand-info;
					color: @brand-info;
				}
			}

			.caret {
				width: @select-caret-size;
				height: @select-caret-size;
				line-height: @select-caret-size;
				border-radius: 50%;
				border: 1px solid;
				margin-top: -@select-caret-size/2;
				right: 7px;

				&:before {
					content: '';
					display: inline-block;
					width: 0;
					height: 0;
					//			margin-left: 2px;
					vertical-align: middle;
					border-top: @select-caret-arrow dashed;
					border-right: @select-caret-arrow - 1 solid transparent;
					border-left: @select-caret-arrow - 1 solid transparent;
					margin-top: floor(-@select-caret-arrow / 2);
				}
			}
		}
	}
}