<div class="form-row">
<header class="form-title">Фильтр по расположению</header>
<div class="row v-center filter-by-location">
    <div class="col-xs-18">
        <fieldset class="row">

            <div class="col-xs-8">
                <select class="selectpicker" title="Выберите область" id="region" name="SearchFilter[regionid]"
                        data-style="btn-primary form-select" data-live-search="true"
                        data-width="100%" data-size="10">
                        <option value="">Не выбрано</option>
                    {% for id,region in regions %}
                        <option value="{{ id }}"{{ filter.regionid == id ? ' selected' : '' }}>{{ region }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-7">
                <select class="selectpicker" title="Выберите район" id="subregion" name="SearchFilter[subregionid]"
                        data-style="btn-primary form-select"
                        data-live-search="true"
                        data-width="100%" data-size="10"{{ filter.subregionid is empty ? ' disabled' : '' }}>
                    {% for id,subregion in subregions %}
                        <option value="{{ id }}"{{ filter.subregionid == id ? ' selected' : '' }}>{{ subregion }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-xs-9">
                <select class="selectpicker" title="Выберите населенный пункт" id="city" name="SearchFilter[cityid]"
                        data-style="btn-primary form-select"
                        data-live-search="true" data-width="100%" data-size="10"{{ filter.cityid is empty ? ' disabled' : '' }}>
                    {% for id,city in cities %}
                        <option value="{{ id }}"{{ filter.cityid == id ? ' selected' : '' }}>{{ city }}</option>
                    {% endfor %}
                </select>
            </div>
        </fieldset>
    </div>
    <div class="col-xs-6 text-right">
        <button class="btn btn-mid btn-info" id="reset_filter" type="reset" onclick="javascript: document.location='/admin/search/reset'">Сбросить все настройки</button>
    </div>
</div>
</div>