<div class="form-row">
    <div class="row">
        <div class="col-xs-13">
            <header class="form-title">Фильтр по нуждам</header>
        </div>

        <div class="col-xs-11">
            <div class="checkbox">
                <input type="checkbox" name="quickOnly" /> {# if filter.quickOnly is not empty  checked="checked"  endif #}
                <label for="check_test">
                    <span class="checkbox-label" id="label_test">Только срочная помощь</span>
                </label>
            </div>
        </div>
    </div>
</div>
<fieldset class="row filter-by-needs">
    <div class="col-xs-3">
        <button class="btn btn-mid btn-default btn-block" type="button" id="toggle_all_needs" data-checked="false" onclick="javascript:_tagsSelectAll()">Все
        </button>
        <button class="btn btn-mid btn-info btn-block" type="button" id="add_need" onclick="javascript:myPopup('/tag/edit')"><i class="fa fa-lg fa-plus"></i>
        </button>
    </div>

    {% include "@views/search/parts/filter/parts/tags.twig" with {'notAjax':true} %}

</fieldset>