<div class="form-row">
    <div class="row">
        <div class="col-xs-13">
            <header class="form-title">Фильтр по учреждениям</header>
            <fieldset class="filter-by-type">
                {% include '@views/parts/type_switcher.twig' with {'inputName': 'SearchFilter[churchType]','current':filter.churchType} %}
            </fieldset>
        </div>
        <div class="col-xs-11 ">
            <header class="form-title">Фильтр по прогрессу</header>
            <fieldset class="filter-by-progress">

                <div class="progress-filter" data-progress="{{ filter.progress }}">
                    <input type="hidden" id="progress" name="SearchFilter[progress]" value="{{ filter.progress }}"/>
                    <span class="progress-filter__max">100<sup>%</sup></span>
                </div>
            </fieldset>
        </div>
    </div>
</div>