
<nav class="main-menu" role="navigation">
    <div class="row">
        <div class="col-xs-18">
            <div class="main-menu__links">

                <a href="?SearchFilter[filterType]={{ constant("backend\\models\\SearchFilter::FT_CHURCH") }}"
                   class="btn btn-default btn-lg navbar-btn main-menu__button
                    {%  if filter.filterType == constant("backend\\models\\SearchFilter::FT_CHURCH") %} active{% endif %}">Список храмов</a>
                <a href="?SearchFilter[filterType]={{ constant("backend\\models\\SearchFilter::FT_NEED") }}"
                   class="btn btn-default btn-lg navbar-btn main-menu__button
                   {%  if filter.filterType == constant("backend\\models\\SearchFilter::FT_NEED") %} active{% endif %}">Список нужд</a>

            </div>
            <div class="main-menu__buttons">
                <a href="/admin/church/edit" class="btn btn-info btn-lg navbar-btn main-menu__button">Добавить храм</a>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="search-form">
                <fieldset class="form-group">
                    <input type="search" class="form-control search-form__input" id="search_keywords" name="query" placeholder="поиск" value="{{ filter.keyword }}">
                    <button class="btn btn-info search-form__submit" id="search_button" onclick="javascript:return searchByKeyword()" />
                        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                    </button>
                </fieldset>
            </div>
        </div>
    </div>
</nav>