//file-input
.file-loading,
.loading {
	background-image: url(../images/loading.gif) !important;
}
.file-uploading {
	background-image: url(../images/loading-sm.gif) !important;
}
// Cтилизация копонента bootstrap-fileinput. При инициализации задать опцию mainClass: 'photo-loader'
.photo-loader {
	.file-preview {
		border: 0;
		padding: 0;

		.close {
			margin-right: -20px;
			margin-top: -20px;
		}
	}

	.file-preview-frame {
		position: relative;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		height: auto;
		background-color: #fff;
		&,
		&:hover {
			border: 1px solid #dfdfdf;
			.box-shadow(none);
		}
	}

	.file-drop-zone {
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.file-drop-zone-title {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.file-caption-name {
		padding-right: 0;
	}
	.progress {
		margin-top: 20px;
	}
	.file-preview-status,
	.file-error-message {
		margin-bottom: 5px;
	}
	.file-error-message{
		margin-top: 10px;
	}
	.file-actions {
		position: absolute;
		text-align: center;
		width: 100%;
		bottom: 15px;
		left: 0;
	}
	.file-footer-buttons {
		float: none;
	}

	.file-upload-indicator,
	.file-other-error {
		font-size: 24px;
		position: absolute;
		left: 10px;
		bottom: 0;
	}
	.file-other-error {
		left: auto;
		right: 10px;
	}
	.file-preview-image{
		width: 100%;
		height: auto;
	}
}