//progress
.progress {
	.box-shadow(none);
	background-color: @gray-lighter;
	position: relative;
	color: @btn-info-color;

	&[data-progress] {
		&:after {
			content: attr(data-progress);
			position: absolute;
			left: 0;
			top: 0;
			height: @line-height-computed;
			line-height: @line-height-computed;
			width: 100%;
			text-align: center;
		}
	}

	.highlighted-block &{
		background-color: #fff;
	}
}

.progress-bar {
	.box-shadow(2px 0 25px rgba(0, 0, 0, .25));
	font-size: @font-size-base;
}

.progress-bar-info {
	color: @btn-info-color;
}