//thumbnail
.thumbnail,
.img-thumbnail {
	padding: 0;
	margin: @padding-large-vertical 0;

	.needs-card &{
		max-width: 200px;
		margin: @padding-large-vertical;
	}
}
.img-thumbnail{
	.layout-sidebar &{
		width: 100%;
	}
}