@font-face {
    font-family: "HelveticaNeue_bold";
    src: url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Bold.ttf');
}
@font-face {
    font-family: "HelveticaNeue_lightitalic";
    src: url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-LightItalic.ttf');
}
@font-face {
    font-family: "HelveticaNeue_light";
    src: url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Light.ttf');
}
@font-face {
    font-family: "HelveticaNeue_roman";
    src: url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Roman.ttf');
}
@font-face {
    font-family: "HelveticaNeue_medium";
    src: url('/fonts/helveticaNeueCyr/HelveticaNeueCyr-Medium.ttf');
}
.container-site
{
    width: 1583px;
    margin: 0 auto;
    /*background: #000;*/
}
*
{
    font-family: HelveticaNeue_light ;
}
.index
{
    /*background: url('images/home.jpg') no-repeat;*/
    /*opacity: 0.5;*/
    /*background-position: center;*/
    height: 3693px;


}
.index .head
{
    width: 100%;
    height: 521px;
    background: url("/images/header.png");

}
.index .head .menu
{
    float: right;
    margin-top: 30px;
    margin-right: 168px;
    position: relative;
    font-family: HelveticaNeue_bold;
}
.index .head .menu ul
{
    list-style: none;
}
.index .head .menu li
{
    float: left;
    color: white;
    font-weight: bold;
    margin-right: 50px;
    font-size: 12px;
    text-transform: uppercase;
}
.index .head .text-block
{
    position: absolute;
    top: 214px;
    left: 944px;
    width: 450px;
}
.index .head .text-block .title
{
    text-transform: uppercase;
    font-size: 44px;
    color: white;
    font-family: HelveticaNeue_medium;
}
.index .head .text-block .small-text
{
    color: white;
    font-size: 18px;
    font-family: HelveticaNeue_roman;
    margin-bottom: 40px;

}
.index .head .text-block .button
{

    text-transform: uppercase;
    background: #AFD534;
    color: white;
    font-size: 15px;
    padding: 16px 20px 16px 20px;
    border-radius: 50px;
    font-family: HelveticaNeue_bold;
    width: 150px;
    height: 50px;
}
.index .sub-head
{
    text-align: center;
    width: 100%;
    height: 272px;
    padding-top: 70px;
}
.index .sub-head .title
{
    /*font-weight: bold;*/
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 0;
}
.index .sub-head .small-text
{
    font-size: 17px;
    color: #8c8c8c;
    padding-top: 10px;
}
.index .patriarh
{
    width: 100%;
    height: 390px;
    position: relative;

}
.index .patriarh .photo
{
    float: left;
    width: 470px;
    height: 100%;
    position: relative;
}
.index .patriarh .photo img
{
    position: absolute;
    top: 60px;
    left: 190px;
}
.index .patriarh .content
{
    padding-top: 30px;
    float: left;
}
.index .patriarh .content .quote
{
    float: left;
    padding-top: 35px;
}

.index .patriarh .content .title
{
    font-size: 36px;

    margin-bottom: 0;
    font-family: HelveticaNeue_bold;
}
.index .patriarh .content .comment
{
    line-height: 24px;
    padding-top: 33px;
    font-size: 18px;
    /*font-style: italic;*/
    font-family: HelveticaNeue_lightitalic;
    padding-left: 38px;
    color: #2d2d2d;
}
.index .patriarh .content .small-text
{
    margin-top: 40px;
    font-family: HelveticaNeue_bold;
    font-size: 18px;
}
.index .review
{
    width: 100%;
    height: 467px;
    text-align: center;
    background: #F6F7F8;
    padding-top: 55px;
}

/*.index .review .photo*/
/*{*/
/*float: left;*/
/*width: 470px;*/
/*height: 100%;*/
/*position: relative;*/
/*}*/
/*.index .review .content*/
/*{*/
/*padding-top: 67px;*/
/*float: left;*/
/*line-height: 46px;*/
/*}*/
/*.index .review img*/
/*{*/
/*position: absolute;*/
/*top: 175px;*/
/*left: 227px;*/
/*}*/
.index .review  .title
{
    font-size: 36px;
    font-family: HelveticaNeue_light;
    padding-left: 35px;

}
.index .review .comment
{
    line-height: 21px;
    padding-top: 33px;
    font-size: 18px;
    font-family: HelveticaNeue_bold;
    padding-left: 38px;
    color: #2d2d2d;
}
.index .review  .fio
{
    padding-left: 36px;
    padding-top: 39px;
    font-size: 18px;
    font-family: HelveticaNeue_bold;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 22px;
}

.index .services
{
    width: 100%;
    height: 448px;
    text-align: center;
    padding-top: 87px;


}
.index .services .title
{
    font-size: 36px;
    font-family: HelveticaNeue_roman;
    line-height: 41px;
}
.index .services ul
{
    list-style: none;
    overflow: hidden;
    width: 950px;
    margin: 0 auto;
    padding-left: 13px;
    padding-top: 43px;
}
.index .services ul li
{
    float: left;
    margin-right: 193px;
}
.index .services ul li img
{
    margin-right: 24px;
}
.index .services ul li span
{
    font-family: HelveticaNeue_roman;

    font-size: 24px;
}
.index .services .last
{
    margin-right: 0;
}
.index .services .small-text
{
    margin-top: 50px;
    font-size: 18px;
    font-family: HelveticaNeue_light;
    color: #8c8c8c;
}
.index .sections
{
    width: 100%;
    height: 661px;
    text-align: center;
    padding-top: 78px;
    position: relative;
    background: #F6F7F8;

}
.index .sections .black
{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.9);
    /*background: #000;*/
    /*opacity: 0.9;*/
}
.index .sections .black .container-dialog
{
    width: 603px;
    height: 100%;
    /*margin: 0 auto;*/
    /*margin-top: 100px;*/
    position: absolute;
    left: 30%;
    top: 0;

}
.index .sections .black .container-dialog .close-dialog
{
    position: absolute;
    top: 15px;
    left: 45%;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
    padding-top: 14px;
    cursor: pointer;
}
.index .sections .black .container-dialog .close-dialog:hover
{
    background-color: rgba(219, 219, 219, 1);
}

.index .sections .black .container-dialog .dialog
{

    margin-top: 100px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    width: 100%;
    padding-top: 20px;
    z-index: 10;

}
.index .sections .black .container-dialog .dialog .small-text
{
    font-family: HelveticaNeue_light;
    font-size: 18px;
}
.index .sections .black .container-dialog .dialog .button-dialog
{
    display: inline-block;

    font-family: HelveticaNeue_light;
    font-size: 18px;
    background: #AFD534;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.index .sections .black .container-dialog .dialog .oferta
{
    display: inline-block;
    margin-bottom: 25px;
}
.index .sections .black .container-dialog .dialog .fotter-dialog
{
    background: #f8f7f6;
    padding-top: 15px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-radius: 0 0 10px 10px;
}
.index .sections .title
{
    font-size: 36px;
    font-family: HelveticaNeue_light;
    margin-bottom: 63px;
}
.index .sections .button
{

    position: absolute;
    top: 150px;
    left: 588px;
    text-transform: uppercase;
    background: #AFD534;
    color: white;
    font-size: 24px;
    padding: 20px 55px 20px 55px;
    border-radius: 50px;
    font-family: HelveticaNeue_roman;
    border: 7px solid #fff;
    z-index: 1;
}
.index .sections .img
{
    width: 100%;
    height: 455px;
    padding-top: 133px;
    line-height: 23px;
    background: url("/images/sections.png");
}
.index .sections .img .title
{
    color: white;
    font-size: 36px;
    font-family: HelveticaNeue_roman;
    margin-bottom: 21px;
}
.index .sections .img .small-text
{
    color: white;
    font-family: HelveticaNeue_light;
    font-size: 18px;
}
.index .sections .img .spacer
{
    margin-bottom: 80px;

}
.index .losung
{
    width: 100%;
    height: 600px;
    text-align: center;
    padding-top: 78px;
    position: relative;
    background: #F6F7F8;
}
.index .losung .title
{
    color: #433f38;
    font-size: 36px;
    font-family: HelveticaNeue_light;

    /*margin-bottom: 21px;*/
}
.index .losung .small-text
{
    font-size: 18px;
    font-family: HelveticaNeue_light;
    color: #2d2d2d;
}
.index .losung .button
{
    position: absolute;
    top: 235px;
    left: 588px;
    text-transform: uppercase;
    background: #AFD534;
    color: white;
    font-size: 24px;
    padding: 20px 55px 20px 55px;
    border-radius: 50px;
    font-family: HelveticaNeue_roman;
    border: 7px solid #fff;
}
.index .losung .img
{
    width: 100%;
    height: 330px;
    margin-top: 65px;
    padding-top: 90px;
    background: url("/images/liturgiya.png");
}
.index .losung .img .title
{
    color: white;
    font-size: 36px;
    font-family: HelveticaNeue_roman;

}
.index .losung .img .liturgiya
{
    color: white;
    font-size: 18px;
    font-family: HelveticaNeue_lightitalic;
    line-height: 50px;
}
.index .losung .img .liturgiya span
{
    font-size: 18px;
    font-family: HelveticaNeue_lightitalic;

}
.index .contacts
{
    width: 100%;
    height: 535px;
    text-align: center;
    padding-top: 68px;
    padding-left: 417px;
    background: #F6F7F8;

}
.index .contacts .form
{
    text-align: left;
    width: 785px;

}
.index .contacts .form .title
{
    font-size: 36px;
    font-family: HelveticaNeue_light;
}
.index .contacts .form form
{
    margin-top: 37px;
}
.index .contacts .form form .form-input
{
    float: left;

}
.index .contacts .form form fieldset
{
    margin-bottom: 11px;
}
.index .contacts .form form input[type='text']
{
    height: 40px;
    border: 1px solid #ccc;
    width: 360px;
    margin-right: 30px;
    padding-left: 10px;
    font-family: HelveticaNeue_roman;
    font-size: 15px;
}
.index .contacts .form form select
{
    height: 40px;
    border: 1px solid #ccc;
    width: 360px;
    margin-right: 30px;
    padding-left: 10px;
    background: white;
    font-family: HelveticaNeue_roman;
    font-size: 15px;
}
.index .contacts .form form textarea
{
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 10px;
}
.index .contacts .form .btn-submit
{
    float: right;
    margin-right: 30px;
    background: #FB4253;
    color: white;
    border: none;
    font-size: 15px;
    font-family: HelveticaNeue_bold;
    padding: 8px 40px 8px 40px;
    border-radius: 5px;
}
.index .contacts .form .btn-submit:hover
{
    background: #DD4253;
}
.index .footer
{
    background: #232323;
    /*background: transparent;*/
    width: 100%;
    height: 190px;
    color: #c7c7c7;
}
.index .footer .column1
{
    float: left;
    margin-right: 155px;
    margin-left: 223px;
    padding-top: 10px;
}
.index .footer .column1 .title
{
    font-size: 18px;
    font-family: HelveticaNeue_bold;
}
.index .footer .column1 .phone
{
    color: #c6c6c6;
    font-family: HelveticaNeue_roman;
    font-size: 15px;
}
.index .footer .column1 .email
{
    color: white;
    font-family: HelveticaNeue_roman;
    font-size: 15px;
}
.index .footer .column2
{
    float: left;
    margin-right: 70px;

    padding-top: 10px;
}
.index .footer .column2 .title
{
    font-size: 18px;
    font-family: HelveticaNeue_bold;
}
.index .footer .column2 .adress
{
    color: #c6c6c6;
    font-size: 15px;
    font-family: HelveticaNeue_roman;

}
.index .footer .column3
{
    float: left;
    /*margin-right: 220px;*/
    margin-top: 13px;
}
.index .footer .column3 p
{
    float: left;

}
.index .footer .column3 p a {
    text-decoration: underline;
    color: #c6c6c6;
    font-family: HelveticaNeue_roman;
    font-size: 15px;
}
.index .footer .column3 .first
{
    /*margin-left: 223px;*/
}
.index .footer .column4
{
    float: right;
    margin-right: 140px;
    margin-top: 15px;
}
.clearfix
{
    clear: both;
}
.index .footer .bottom-line
{
    margin-top: 33px;

}

.index .footer .bottom-line .tm
{
    float: right;
    margin-right: 240px;
    font-family: HelveticaNeue_roman;
    font-size: 15px;
}