html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.bgr-yellow {
    
    background: #fac50f;
}
.bgr-gray {
    background: #F9f9f9;
}
.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.btn-file-hidden {
    position: relative;
    overflow: hidden;
}
.btn-file-hidden input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.search-result-div {

    background: #F0F0F0;
    border: #cccccc 1px solid;
    padding: 4px;
    display: inline-block;
}

label.uploadbutton .button {
    width: 100px;
    line-height: 30px;
    text-align: center;
    background: #F9f9f9;
    transition: background 0.2s;
    border: 1px solid #cccccc;
    color: #777777;
    display: inline-block;
}
label.uploadbutton .input {
    width: 300px;
    display: inline-block;
}
label.uploadbutton input {
    display: none;   
}

.church-type-static {
    background: #fac50f;
    border: 1px solid #c0c0c0;
    padding:5px;
}

.need-item {
    background: #F9f9f9;
    border: 1px solid #cccccc;
    padding:5px;

}
