<div class="checkbox">
    <input type="checkbox" id="{{ id }}" {{ checked? 'checked':'' }} {{ disbaled? 'disbaled':'' }}>
    <label for="{{ id }}">
        <span class="checkbox-label" id="label_{{ id }}">{{ label }}</span>
    </label>
</div>