<div class="row">
    <div class="col-xs-12">
        {% if sort is defined and sort %}
            <a href="#" class="navbar-text sort">
                Сортировать по имени
                <span class="caret desc" title="по возрастанию"></span>
            </a>
        {% endif %}
    </div>
    <div class="col-xs-12 text-right">
        <ul class="pagination">
            <li class="arrow hidden"><span><i class="fa fa-arrow-left text-yellow"></i></span></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li class="arrow"><a href="#"><i class="fa fa-arrow-right text-yellow"></i></a></li>
        </ul>
    </div>
</div>