<div class="progress" data-progress="{{ progress }}%">
    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%;">
        <span class="sr-only">{{ progress }}% собрано</span>
    </div>
</div>