<nav class="page-header" role="navigation">
    <div class="row">
        <div class="col-xs-18">
            {% if editor is not empty %}
                {% if id is not empty %}
                    <a href="/admin/church/?id={{ id }}"><i class="fa fa-arrow-left text-yellow"></i> Назад</a>
                {% else %}
                    <a href="/admin/search"><i class="fa fa-arrow-left text-yellow"></i> Назад</a>
                {% endif %}
            {% else %}
                <a href="/admin/search#church_{{ id }}"><i class="fa fa-arrow-left text-yellow"></i> Назад</a>
            {% endif %}
        </div>
        <div class="col-xs-6">

            <form class="search-form" role="search" action="">
                <fieldset class="form-group">
                    <input type="search" class="form-control search-form__input" id="search_keywords" placeholder="поиск">
                    <button type="submit" class="btn btn-info search-form__submit" id="search_button" onclick="javascript:return searchByKeyword()" >
                        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</nav>
