<h4>Подтвердите удаление записи "{{ church.name }}"</h4>
<div class="modal-footer">

    {% set form = aForm.begin({
    'id':'popup_form',
    'action':'/church/remove?id='~church.id,
    'method':'POST'
    })
    %}

    {{ html.submitButton('Готово',{'class':'btn btn-primary btn-save'}) |raw }}
    {{ html.submitButton('Отмена',{'onclick':"return myExitPopup()",'class':'btn btn-default btn-cancel','data-dismiss':"modal"}) |raw }}

    {{ void(aForm.end()) }}
</div>