<div class="modal fade modal-info" tabindex="-1" role="dialog" aria-hidden="true" id="confirm-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ title|default('Подтвердите') }}</h4>
            </div>
            <div class="modal-body">{{ content|default('') }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-save">ОК</button>
                <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>