
{% set form = aForm.begin({
    'id':'popup_form',
    'action':'/tag/edit'~(tag ? '?id='~tag.id : ''),
    'method':'POST'
})
%}

{{ form.field(tag,'name') |raw}}

<div class="modal-footer">
    {{ html.submitButton('Готово',{'onclick':"return mySubmitPopup('#tags_list','/search/tags')",'class':'btn btn-primary btn-save'}) |raw }}
    {{ html.submitButton('Отмена',{'class':'btn btn-default btn-cancel','data-dismiss':"modal"}) |raw }}
</div>

{{ void(aForm.end()) }}