<h4>Подтвердите удаление тэга "{{ tag.name }}"</h4>
<div class="modal-footer">

    {% set form = aForm.begin({
        'id':'popup_form',
        'action':'/tag/remove?id='~tag.id,
        'method':'POST'
        })
    %}

    {{ html.submitButton('Готово',{'onclick':"return mySubmitPopup('#tags_list','/search/tags')",'class':'btn btn-primary btn-save'}) |raw }}
    {{ html.submitButton('Отмена',{'onclick':"return myExitPopup()",'class':'btn btn-default btn-cancel','data-dismiss':"modal"}) |raw }}

    {{ void(aForm.end()) }}
</div>