{% extends 'layout/page.twig' %}

{% block sidebar %}
    {% include 'components/file_input.twig' with {'id':'gallery-file', 'multiple':true} %}
{% endblock %}
{% block content %}
    <h1>Добавление храма</h1>

    <form action="" role="form">
        <fieldset>
            <div class="row form-row">
                <div class="col-xs-24">
                    <input class="form-control" id="name_input" type="text" placeholder="Название"/>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-xs-24">
                    {% include 'partials/type_switcher.twig' with {'name': 'church_type', 'types': filter.types | slice(1)} %}
                </div>
            </div>
            <div class="row form-row">
                <div class="col-xs-24">
                    <textarea class="form-control" name="" id="" cols="30" rows="3"
                              placeholder="Краткое описание"></textarea>
                </div>
            </div>
        </fieldset>
        <div class="divider full-width"></div>
        <fieldset>
            <div class="row form-row v-center">
                <div class="col-xs-2 text-right"><i class="fa fa-fw fa-user text-yellow"></i></div>
                <div class="col-xs-14"><input class="form-control" type="text" placeholder="Настоятель"/></div>
            </div>
            <div class="row form-row v-center">
                <div class="col-xs-2 text-right"><i class="fa fa-fw fa-map-marker text-yellow"></i></div>
                <div class="col-xs-14">
                    <select class="selectpicker" title="Выберите область" id="region" name="regions"
                            data-style="btn-default form-select" data-live-search="true"
                            data-width="100%" data-size="10">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-xs-14 col-xs-offset-2">
                    <select class="selectpicker" title="Выберите район" id="area" name="areas"
                            data-style="btn-default form-select"
                            data-live-search="true"
                            data-width="100%" data-size="10" disabled>
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-xs-14 col-xs-offset-2">
                    <select class="selectpicker" title="Выберите населенный пункт" id="city" name="cities"
                            data-style="btn-default form-select"
                            data-live-search="true" data-width="100%" data-size="10" disabled>
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="row form-row v-center">
                <div class="col-xs-2 text-right"><i class="fa fa-fw fa-mobile text-yellow"></i></div>
                <div class="col-xs-14"><input class="form-control" type="tel" placeholder="Телефон"/></div>
            </div>
            <div class="row form-row v-center">
                <div class="col-xs-2 text-right"><i class="fa fa-fw fa-envelope-o text-yellow"></i></div>
                <div class="col-xs-14"><input class="form-control" type="email" placeholder="E-mail"/></div>
            </div>
            <div class="row form-row v-center">
                <div class="col-xs-2 text-right"><i class="fa fa-fw fa-desktop text-yellow"></i></div>
                <div class="col-xs-14"><input class="form-control" type="url" placeholder="сайт"/></div>
            </div>
        </fieldset>
        <div class="divider full-width"></div>
        <fieldset>
            <div class="row form-row">
                <div class="col-xs-24">
                    <header class="text-muted">Реквизиты</header>
                </div>
            </div>
            <div class="row form-row v-center">
                <div class="col-xs-2 text-right"><i class="fa fa-fw fa-map-marker text-yellow"></i></div>
                <div class="col-xs-22"><input id="address_input" class="form-control" type="text" placeholder="Адрес, индекс"/></div>
            </div>
            <div class="row form-row v-center">
                <div class="col-xs-2 text-right"><i class="fa fa-fw fa-mobile text-yellow"></i></div>
                <div class="col-xs-14"><input class="form-control" type="tel" placeholder="Телефон"/></div>
            </div>
            <div class="row form-row v-center">
                <div class="col-xs-2 text-right"><i class="fa fa-fw fa-fax text-yellow"></i></div>
                <div class="col-xs-14"><input class="form-control" type="tel" placeholder="Факс"/></div>
            </div>
            <div class="row form-row">
                <div class="col-xs-2 text-right"><span class="text-yellow">Р/С</span></div>
                <div class="col-xs-22">
                    <textarea class="form-control" name="" id="" cols="30" rows="3"></textarea>
                </div>
            </div>
            <div class="row form-row v-center">
                <div class="col-xs-2 text-right"><span class="text-yellow">К/С</span></div>
                <div class="col-xs-22"><input class="form-control" type="text"/></div>
            </div>
            <div class="row form-row v-center">
                <div class="col-xs-2 text-right"><span class="text-yellow">БИК</span></div>
                <div class="col-xs-22"><input class="form-control" type="text"/></div>
            </div>
            <div class="row form-row v-center">
                <div class="col-xs-2 text-right"><span class="text-yellow">ИНН</span></div>
                <div class="col-xs-10"><input class="form-control" type="text"/></div>
                <div class="col-xs-2 text-right"><span class="text-yellow">КПП</span></div>
                <div class="col-xs-10"><input class="form-control" type="text"/></div>
            </div>
            <div class="row form-row v-center">
                <div class="col-xs-2 text-right"><span class="text-yellow word-overflow">ОГРН</span></div>
                <div class="col-xs-22"><input class="form-control" type="text"/></div>
            </div>
            <div class="row form-row v-center">
                <div class="col-xs-2 text-right"><span class="text-yellow word-overflow">ОКВЭД</span></div>
                <div class="col-xs-10"><input class="form-control" type="text"/></div>
                <div class="col-xs-2 text-center"><span class="text-yellow word-overflow">ОКПО</span></div>
                <div class="col-xs-10"><input class="form-control" type="text"/></div>
            </div>
        </fieldset>
        <div class="divider full-width"></div>
        <fieldset>
            {% include 'partials/map.twig' with {'editor':true} %}
            <div class="row form-row">
                <div class="col-xs-24">
                    <textarea class="form-control" name="" id="" cols="30" rows="3"
                              placeholder="Историческая справка"></textarea>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-xs-24">
                    <textarea class="form-control" name="" id="" cols="30" rows="3" placeholder="Святыни"></textarea>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-xs-24">
                    <input class="form-control" type="text" placeholder="Количество прихожан"/>
                </div>
            </div>
            <div class="row form-row">
                <div class="col-xs-24">
                    <textarea class="form-control" name="" id="" cols="30" rows="3"
                              placeholder="Информация по социальным постройкам"></textarea>
                </div>
            </div>
        </fieldset>
        <div class="row form-row">
            <div class="col-xs-24">
                <button class="form-btn btn btn-mid btn-info text-uppercase" type="submit">Добавить храм</button>
            </div>
        </div>
    </form>
{% endblock %}