{% extends 'layout/page.twig' %}

{% block sidebar %}
    {% include 'components/file_input.twig' with {'id':'gallery-file', 'multiple':true} %}

    {% include 'partials/photo_editor.twig' with {'preview': 'images/church1.jpg'} %}
    {% include 'partials/photo_editor.twig' with {'preview': 'images/church2.jpg'} %}
    {% include 'partials/photo_editor.twig' with {'preview': 'images/church1.jpg'} %}
    {% include 'partials/photo_editor.twig' with {'preview': 'images/church2.jpg'} %}
{% endblock %}
{% block content %}
    {% include 'partials/edit_panel.twig' with {'id': 'church_editor', 'buttons': [{'url': 'church_add.html', 'icon': 'fa-pencil text-yellow'},{'icon':'fa-trash-o text-yellow'}]} %}
    <h1 class="church-card__title">
        Православный приход храма Рождества Иоанна Предтечи на Пресне
    </h1>
    <div class="church-card__type">
        {% include 'partials/type_switcher.twig' with {'types': filter.types | slice(2,1)} %}
    </div>
    <p>Храм Рождества Иоанна Предтечи на Пресне некоторое время являлся церковно-административным центром
        грузинских приходов в России и, возможно, имел статус подворья Грузинской Православной Церкви в
        Москве.</p>
    <div class="divider full-width"></div>

    {% include 'partials/church_card/_contacts.twig' %}

    <div class="highlighted-block full-width">
        <div class="text-center add-need__button">
            <button class="btn btn-info text-uppercase" id="show_need_add_form">Добавить нужду</button>
        </div>

        {% include 'partials/editor_form.twig' with {'id':'need_add_form', 'checkboxes': filter.needs } %}

        <div class="divider full-width"></div>

        {% include 'partials/edit_panel.twig' with {'id': 'need_editor', 'buttons': [{'id': 'show_need_edit_form', 'icon': 'fa-pencil text-primary'},{'icon':'fa-trash-o text-primary'}]} %}

        {% set title = 'Нужды на строительство и ремонт' %}
        {% set teaser = 'Просим помощи для ремонта и восстановления нашего храма. Сердечно благодарим всех, кто уже оказал посильную финансовую помощь для строительства котельной.' %}

        {% include 'partials/editor_form.twig' with {'id':'need_edit_form', 'name': title , 'teaser': teaser, 'total': '533 000', 'donations': '482 000', 'image': 'images/church1.jpg', 'checkboxes': filter.needs } %}

        <div id="need_block">
            <h2>Нужды на строительство и ремонт</h2>

            <p>Просим помощи для ремонта и восстановления нашего храма.
                Сердечно благодарим всех, кто уже оказал посильную финансовую
                помощь для строительства котельной.</p>


            {% include 'partials/church_card/_labels.twig' with {'labels': needs} %}

            <div class="divider full-width"></div>


            <div class="row v-center">
                <div class="col-xs-13">
                    {% include 'partials/church_card/_donations.twig' with {'progress':75} %}
                </div>
                <div class="col-xs-10 col-xs-offset-1">
                    <img src="images/church1.jpg" class="img-thumbnail" alt=""/>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/church_card/_requisites.twig' %}

    <div class="divider full-width"></div>

    {% set title = 'Православный приход храма Рождества Иоанна Предтечи на Пресне' %}
    {% set address = '123242, г. Москва, Малый Предтеченский пер., д. 2' %}
    {% set latlng = '55.75888674878798,37.571971490979195' %}
    {% include 'partials/map.twig' with {'title': title, 'address': address, 'latlng': latlng} %}

    <header class="block-header full-width">Историческая справка</header>
    <p>
        По документу 1685 года, 24 мая (по старому стилю) Святейший Патриарх Иоаким благословил строительство
        деревянного
        храма Рождества Иоанна Предтечи на Пресне. В 1714 году было получено разрешение на строительство нового
        каменного храма.
        Храм Рождества Иоанна Предтечи на Пресне некоторое время являлся церковно-административным центром грузинских
        приходов в России и, возможно, имел статус подворья Грузинской Православной Церкви в Москве.
        Главный престол освящён в честь святого Иоанна Предтечи, боковые приделы — в честь святого мученика Иоанна Воина
        и во имя Софии, Премудрости Божией.
        В храме есть росписи и работы живописца В.М.Васнецова.
        Храм Рождества Иоанна Предтечи на Пресне не закрывался при советской власти.
    </p>
    <header class="block-header full-width">Святыни</header>
    <p>
        Ковчег с частицами мощами св. Иоанна Предтечи; крест мощевик - св. мч. Иоанна Воина, вмч. Никиты, вмч.
        Екатерины, вмч. Варвары, вмч. Георгия Победоносца и мч. Трифона; ковчег со святыми мощами.
    </p>
    <header class="block-header full-width">Храм на 1000 прихожан</header>
    <header class="block-header full-width">Информация по социальным постройкам</header>
    <p>
        Духовно-просветительский центр на 100 человек (3 класса для воскресной школы и зал для проведения мероприятий)
    </p>
{% endblock %}