{% extends 'layout/base.twig' %}

{% block body %}
    {% include 'partials/main_menu.twig' %}
    {% include 'partials/filter_form.twig' with {'types': filter.types, 'needs': filter.needs, 'progress': 0} %}
    {% include 'components/pagination.twig' with {'sort':true} %}

    {% for i in 0..2 %}
        {% include 'partials/church_card.twig' with {'index': loop.index, 'progress':75} %}
    {% endfor %}

    {% include 'components/pagination.twig' %}
{% endblock %}