// Кнопка(и) типа учреждения. Радио-группа
.type-switcher__button {
	min-width: 100px;
	margin-right: @navbar-padding-horizontal;
	line-height: @church-icon-size + @btn-border-width;

	&.btn-primary {
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			background-color: @btn-info-bg;
			border-color: @btn-info-border;
			color: @btn-info-color;
		}
	}
}