
{% set form = aForm.begin(
    {
        'id' : 'filter_form',
        'action' : '/search/filter',
        'options' : {
            'onchange' : 'refreshFilter()'
        }
    }
) %}

{{ html.hiddenInput('forceTags','true') |raw }}

{# header #}
{% include "parts/filter/header.twig"  %}
{% include "parts/filter/by_types.twig" %}
{% include "parts/filter/by_needs.twig" %}
{% include "parts/filter/by_location.twig" %}

{{ void(aForm.end()) }}