{{ this.registerJsFile('@web/js/parts/filter.js',{'depends':['backend\\assets\\AppAsset']}) }}
{{ this.registerJsFile('@web/js/parts/location.js',{'depends':['backend\\assets\\AppAsset']}) }}
{{ this.registerJsFile('@web/js/parts/progress.js',{'depends':['backend\\assets\\AppAsset']}) }}