<div class="row layout-main" id="church_{{ item.id }}">
    <div class="col-xs-9 layout-sidebar">
        <div class="layout-container">
            {% include '@views/parts/church/sidebar.twig' %}
        </div>
    </div>
    <div class="col-xs-15 layout-content">
        <div class="layout-container">
            <h1 class="church-card__title">
                <a href="/admin/church/?id={{ item.id }}">{{ item.name }}</a>
            </h1>

            <p>{{ item.description }}</p>

            <div class="divider full-width"></div>

            {% include '@views/parts/church/contacts.twig' %}

            {% if item.tags is not empty %}
                <div class="highlighted-block church-card__needs full-width">
                    <header class="church-card__needs-header"><a href="/admin/church/?id={{ item.id }}#needs">Нужды</a></header>
                    <div class="divider full-width"></div>

                    {% include '@views/parts/tags.twig' with {'tags':item.tags} %}
                </div>
            {% endif %}

            {% include '@views/parts/church/donations.twig' %}

        </div>
    </div>
</div>