
{% if list is not empty %}

    {% include "@views/search/parts/pagination.twig" %}

    {% if filter.filterType == constant("backend\\models\\SearchFilter::FT_CHURCH") %}

        {% for item in list  %}
        {% include "@views/search/parts/item_church.twig" %}
        {% endfor %}

    {% elseif filter.filterType == constant("backend\\models\\SearchFilter::FT_NEED") %}

        {% for item in list  %}
        {% include "@views/search/parts/item_need.twig" %}
        {% endfor %}

    {% endif %}

    {% include "@views/search/parts/pagination.twig" %}
{% else %}
    <h4>Список пуст.</h4>
{% endif %}