
<div class="row layout-main" id="need_{{ item.id }}">
    <div class="col-xs-9 layout-sidebar">
        <div class="layout-container">
            {% include '@views/parts/church/sidebar.twig' %}
        </div>
    </div>
    <div class="col-xs-15 layout-content">
        <div class="layout-container">
            <h1 data-index="{{ index }}." class="church-card__title">
                <a href="/admin/church/?id={{ item.churchid }}#need_{{ item.id }}">{{ item.name }}</a>
            </h1>

            <p>{{ item.description }}</p>

            <div class="divider full-width"></div>

            {#% include '@views/parts/church/contacts.twig' %#}
            {% include '@views/parts/tags.twig' with {'hideCount':true,'tags':item.tags}%}
            {#% include '@views/parts/church/donations.twig' %#}

        </div>
    </div>
</div>