
<div class="row">
    <div class="col-xs-12">

        {# sort name #}
        <a href="#" class="navbar-text sort dropdown-toggle" id="sortMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {% for key,attr in sort.attributes %}
                {% if key == sort_param %}
                    {% if sort_dir == 'asc' %}
                        {{ attr.label_asc }}
                    {% else %}
                        {{ attr.label_desc }}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <span class="caret desc"></span>
        </a>

        {# dropdown menu #}
        <ul class="dropdown-menu" aria-labelledby="sortMenu">

            {% for key,attr in sort.attributes %}
                <li><a href="?sort={{ key }}">{{ attr.label_asc }}</a></li>
                <li><a href="?sort=-{{ key }}">{{ attr.label_desc }}</a></li>
            {% endfor %}
        </ul>

    </div>


    {% set currentPage = pages.getPage() %}
    {% set pagesOffset = 2 %}
    {% set lastPage = (pages.totalCount/pages.pageSize) | round(0,'ceil') - 1 %}
    {% set maxAdding = 0 %}

    {% if lastPage < 0 %} {# when count of items is zero #}
        {% set lastPage = 0 %}
    {% endif %}

    {% if currentPage > lastPage %}
        {% set currentPage = lastPage %}
    {% endif %}

    {# uncomment to debug #}
    {#
    <label>
        c({{ pages.getPage() }})
        {{ pages.totalCount }}
        {{ pages.defaultPageSize }}
        {{ lastPage }}
        {{ currentPage }}
    </label>
    #}

    {% set minPage = currentPage - pagesOffset %}
    {% if minPage < 0 %}
        {% set maxAdding = 2 %}
        {% set minPage = 0 %}

    {% endif %}

    {% set maxPage = currentPage + pagesOffset + maxAdding %}
    {% if maxPage > lastPage %}
        {% set maxPage = lastPage %}
    {% endif %}
    
    <div class="col-xs-12 text-right">
        <ul class="pagination">
            {% if minPage - 1 >= 0 %}
            <li class="arrow"><a href="?page={{ minPage }}"><i class="fa fa-arrow-left text-yellow"></i></a></li>
            {% endif %}

            {% for n in minPage .. maxPage %}
                {% if n == currentPage %}
                    <li class="active"><span>{{ n + 1}}</span></li>
                {% else %}
                    <li><a href="?page={{ n + 1 }}">{{ n + 1 }}</a></li>
                {% endif %}
            {% endfor %}

            {% if maxPage + 1 <= lastPage %}
                <li class="arrow"><a href="?page={{ maxPage + 2 }}"><i class="fa fa-arrow-right text-yellow"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>