<ul class="church-card__options">

    {% if item.owner is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-user text-yellow"></i></span>
        <span class="col-xs-22">{{ item.owner }}</span>
    </li>
    {% endif %}

    {% if item.req_address is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-map-marker text-yellow"></i></span>
        <span class="col-xs-22">{{ item.req_address }}</span>
    </li>
    {% endif %}

    {% if item.phone is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-mobile text-yellow"></i></span>
        <span class="col-xs-22"><a href="tel:{{ item.phone }}">{{ item.phone }}</a></span>
    </li>
    {% endif %}

    {% if item.email is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-envelope-o text-yellow"></i></span>
        <span class="col-xs-22"><a href="mailto:{{ item.email }}">{{ item.email }}</a></span>
    </li>
    {% endif %}

    {% if item.url is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-desktop text-yellow"></i></span>
        <span class="col-xs-22"><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></span>
    </li>
    {% endif %}
</ul>