<header class="text-muted">Реквизиты</header>
<ul class="church-card__options">

    {% if item.req_address is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-map-marker text-yellow"></i></span>
        <span class="col-xs-22">{{ item.req_address }}</span>
    </li>
    {% endif %}

    {% if item.req_phone is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-mobile text-yellow"></i></span>
        <span class="col-xs-22"><a href="tel:{{ item.req_phone }}">{{ item.req_phone }}</a></span>
    </li>
    {% endif %}

    {% if item.req_fax is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><i class="fa fa-fw fa-fax text-yellow"></i></span>
        <span class="col-xs-22"><a href="tel:{{ item.req_fax }}">{{ item.req_fax }}</a></span>
    </li>
    {% endif %}

    {% if item.req_rs is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow">Р/С</span></span>
        <span class="col-xs-22">{{ item.req_rs }}</span>
    </li>
    {% endif %}

    {% if item.req_ks is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow">К/С</span></span>
        <span class="col-xs-22">{{ item.req_ks }}</span>
    </li>
    {% endif %}

    {% if item.req_bik is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow">БИК</span></span>
        <span class="col-xs-22">{{ item.req_bik }}</span>
    </li>
    {% endif %}

    {% if item.req_inn is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow">ИНН</span></span>
        <span class="col-xs-22">{{ item.req_inn }}</span>
    </li>
    {% endif %}

    {% if item.req_kpp is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow">КПП</span></span>
        <span class="col-xs-22">{{ item.req_kpp }}</span>
    </li>
    {% endif %}

    {% if item.req_ogrn is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow word-overflow">ОГРН</span></span>
        <span class="col-xs-22">{{ item.req_ogrn }}</span>
    </li>
    {% endif %}

    {% if item.req_okved is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow word-overflow">ОКВЭД</span></span>
        <span class="col-xs-22">{{ item.req_okved }}</span>
    </li>
    {% endif %}

    {% if item.req_okpo is not empty %}
    <li class="row">
        <span class="col-xs-2 text-right"><span class="text-yellow word-overflow">ОКПО</span></span>
        <span class="col-xs-22">{{ item.req_okpo }}</span>
    </li>
    {% endif %}
</ul>