{% if editable is not null %}
    {% include '@views/parts/photo_input.twig' with {'id':'gallery-file', 'multiple':true} %}
{% endif %}

{% if item.photos is not empty %}
    {% for photo in item.photos %}
        {% if editable is not empty %}
            {% include "@views/parts/photo_editor.twig" with {'photo':photo} %}
        {% else %}
            <img src="/uploads/{{ photo.photo }}" class="img-thumbnail" alt=""/>
        {% endif %}
    {% endfor %}
{% endif %}